div#linkContextMenu(class="contextMenu")
  button#removeLink(class="myCustomButton mainTool") Removed
  button#dashLink(class="myCustomButton mainTool") Dash
  button#linearLink(class="myCustomButton mainTool") Linear
  button#increaseWidth(class="myCustomButton mainTool") Thicker
  button#decreaseWidth(class="myCustomButton mainTool") Less thick
  button#linkColor(class="myCustomButton mainTool") Colored
  button(value="red" class="myCustomButton colorTool") Red
  button(value="green" class="myCustomButton colorTool") Green
  button(value="yellow" class="myCustomButton colorTool") Yellow
  button(value="blue" class="myCustomButton colorTool") Blue
  button(value="white" class="myCustomButton colorTool") White
  button(value="purple" class="myCustomButton colorTool") Purple
  button(value="brown" class="myCustomButton colorTool") Brown
