div#linkContextMenu(class="contextMenu")
  div(class="mainTool col-lg-12 col-md-12 col-sm-12")
    img(src="/img/gamerModule/linkIcons/delete.png" class="col-lg-2 col-md-2 col-sm-2")
    button#removeLink(class="mainTool col-lg-10 col-md-10 col-sm-10") Remove
  div(class="mainTool col-lg-12 col-md-12 col-sm-12")
    img(src="/img/gamerModule/linkIcons/dash.png" class="col-lg-2 col-md-2 col-sm-2")
    button#dashLink(class="mainTool col-lg-10 col-md-10 col-sm-10") Dash
  div(class="mainTool col-lg-12 col-md-12 col-sm-12")
    img(src="/img/gamerModule/linkIcons/linear.png" class="col-lg-2 col-md-2 col-sm-2")
    button#linearLink(class="mainTool col-lg-10 col-md-10 col-sm-10") Linear
  div(class="mainTool col-lg-12 col-md-12 col-sm-12")
    img(src="/img/gamerModule/linkIcons/thicker.png" class="col-lg-2 col-md-2 col-sm-2")
    button#increaseWidth(class="mainTool col-lg-10 col-md-10 col-sm-10") Thicker
  div(class="mainTool col-lg-12 col-md-12 col-sm-12")
    img(src="/img/gamerModule/linkIcons/lessThick.png" class="col-lg-2 col-md-2 col-sm-2")
    button#decreaseWidth(class="mainTool col-lg-10 col-md-10 col-sm-10") Less thick
  div(class="mainTool col-lg-12 col-md-12 col-sm-12")
    img(src="/img/gamerModule/linkIcons/addNav.png" class="col-lg-2 col-md-2 col-sm-2")
    button#navigability(class="mainTool col-lg-10 col-md-10 col-sm-10") Add nav
  div(class="mainTool col-lg-12 col-md-12 col-sm-12")
    img(src="/img/gamerModule/linkIcons/reverseNav.png" class="col-lg-2 col-md-2 col-sm-2")
    button#reverseNavigability(class="mainTool col-lg-10 col-md-10 col-sm-10") Reverse nav
  div(class="mainTool col-lg-12 col-md-12 col-sm-12")
    img(src="/img/gamerModule/linkIcons/removeNav.png" class="col-lg-2 col-md-2 col-sm-2")
    button#removeNavigability(class="mainTool col-lg-10 col-md-10 col-sm-10") Remove nav
  div(class="mainTool col-lg-12 col-md-12 col-sm-12")
    img(src="/img/gamerModule/linkIcons/color.png" class="col-lg-2 col-md-2 col-sm-2")
    button#linkColor(class="myCustomButton col-lg-10 col-md-10 col-sm-10") Color
  div(class="colorTool col-lg-12 col-md-12 col-sm-12")
    img(src="/img/gamerModule/red.jpg" class="col-lg-2 col-md-2 col-sm-2")
    button(value="red" class="myCustomButton colorTool col-lg-10 col-md-10 col-sm-10") Red
  div(class="colorTool col-lg-12 col-md-12 col-sm-12")
    img(src="/img/gamerModule/green.jpg" class="col-lg-2 col-md-2 col-sm-2")
    button(value="green" class="myCustomButton colorTool col-lg-10 col-md-10 col-sm-10") Green
  div(class="colorTool col-lg-12 col-md-12 col-sm-12")
    img(src="/img/gamerModule/yellow.jpg" class="col-lg-2 col-md-2 col-sm-2")
    button(value="yellow" class="myCustomButton colorTool col-lg-10 col-md-10 col-sm-10") Yellow
  div(class="colorTool col-lg-12 col-md-12 col-sm-12")
    img(src="/img/gamerModule/blue.jpg" class="col-lg-2 col-md-2 col-sm-2")
    button(value="blue" class="myCustomButton colorTool col-lg-10 col-md-10 col-sm-10") Blue
  div(class="colorTool col-lg-12 col-md-12 col-sm-12")
    img(src="/img/gamerModule/white.jpg" class="col-lg-2 col-md-2 col-sm-2")
    button(value="white" class="myCustomButton colorTool col-lg-10 col-md-10 col-sm-10") White
  div(class="colorTool col-lg-12 col-md-12 col-sm-12")
    img(src="/img/gamerModule/purple.jpg" class="col-lg-2 col-md-2 col-sm-2")
    button(value="purple" class="myCustomButton colorTool col-lg-10 col-md-10 col-sm-10") Purple
  div(class="colorTool col-lg-12 col-md-12 col-sm-12")
    img(src="/img/gamerModule/brown.jpg" class="col-lg-2 col-md-2 col-sm-2")
    button(value="brown" class="myCustomButton colorTool col-lg-10 col-md-10 col-sm-10") Brown
