div(class="SWA_ContextualMenu")
  div(class="SWA_CtxtMenuMainTool col-lg-12 col-md-12 col-sm-12")
    img(src="/img/gamerModule/linkIcons/delete.png" class="col-lg-2 col-md-2 col-sm-2")
    button(name="removeLink" data-i18n="removeLinkTool" class="SWA_CtxtMenuMainTool col-lg-10 col-md-10 col-sm-10")
  div(class="SWA_CtxtMenuMainTool col-lg-12 col-md-12 col-sm-12")
    img(src="/img/gamerModule/linkIcons/dash.png" class="col-lg-2 col-md-2 col-sm-2")
    button(name="dashLink" data-i18n="dashLinkTool" class="SWA_CtxtMenuMainTool col-lg-10 col-md-10 col-sm-10")
  div(class="SWA_CtxtMenuMainTool col-lg-12 col-md-12 col-sm-12")
    img(src="/img/gamerModule/linkIcons/linear.png" class="col-lg-2 col-md-2 col-sm-2")
    button(name="linearLink" data-i18n="linearLinkTool" class="SWA_CtxtMenuMainTool col-lg-10 col-md-10 col-sm-10")
  div(class="SWA_CtxtMenuMainTool col-lg-12 col-md-12 col-sm-12")
    img(src="/img/gamerModule/linkIcons/thicker.png" class="col-lg-2 col-md-2 col-sm-2")
    button(name="increaseWidth" data-i18n="thickerLinkTool" class="SWA_CtxtMenuMainTool col-lg-10 col-md-10 col-sm-10")
  div(class="SWA_CtxtMenuMainTool col-lg-12 col-md-12 col-sm-12")
    img(src="/img/gamerModule/linkIcons/lessThick.png" class="col-lg-2 col-md-2 col-sm-2")
    button(name="decreaseWidth" data-i18n="lessThickLinkTool" class="SWA_CtxtMenuMainTool col-lg-10 col-md-10 col-sm-10")
  div(class="SWA_CtxtMenuMainTool col-lg-12 col-md-12 col-sm-12")
    img(src="/img/gamerModule/linkIcons/addNav.png" class="col-lg-2 col-md-2 col-sm-2")
    button(name="navigability" data-i18n="addNavLinkOption" class="SWA_CtxtMenuMainTool col-lg-10 col-md-10 col-sm-10")
  div(class="SWA_CtxtMenuMainTool col-lg-12 col-md-12 col-sm-12")
    img(src="/img/gamerModule/linkIcons/reverseNav.png" class="col-lg-2 col-md-2 col-sm-2")
    button(name="reverseNavigability" data-i18n="reverseNavLinkTool" class="SWA_CtxtMenuMainTool col-lg-10 col-md-10 col-sm-10")
  div(class="SWA_CtxtMenuMainTool col-lg-12 col-md-12 col-sm-12")
    img(src="/img/gamerModule/linkIcons/removeNav.png" class="col-lg-2 col-md-2 col-sm-2")
    button(name="removeNavigability" data-i18n="removeNavLinkTool" class="SWA_CtxtMenuMainTool col-lg-10 col-md-10 col-sm-10") 
  div(class="SWA_CtxtMenuMainTool col-lg-12 col-md-12 col-sm-12")
    img(src="/img/gamerModule/linkIcons/color.png" class="col-lg-2 col-md-2 col-sm-2")
    button(name="linkColor" data-i18n="colorLinkTool" class="col-lg-10 col-md-10 col-sm-10")
  div(class="SWA_CtxtMenuColorTool col-lg-12 col-md-12 col-sm-12")
    img(src="/img/gamerModule/red.jpg" class="col-lg-2 col-md-2 col-sm-2")
    button(data-i18n="redColor" value="red" class="SWA_CtxtMenuColorTool col-lg-10 col-md-10 col-sm-10")
  div(class="SWA_CtxtMenuColorTool col-lg-12 col-md-12 col-sm-12")
    img(src="/img/gamerModule/green.jpg" class="col-lg-2 col-md-2 col-sm-2")
    button(data-i18n="greenColor" value="green" class="SWA_CtxtMenuColorTool col-lg-10 col-md-10 col-sm-10")
  div(class="SWA_CtxtMenuColorTool col-lg-12 col-md-12 col-sm-12")
    img(src="/img/gamerModule/yellow.jpg" class="col-lg-2 col-md-2 col-sm-2")
    button(data-i18n="yellowColor" value="yellow" class="SWA_CtxtMenuColorTool col-lg-10 col-md-10 col-sm-10")
  div(class="SWA_CtxtMenuColorTool col-lg-12 col-md-12 col-sm-12")
    img(src="/img/gamerModule/blue.jpg" class="col-lg-2 col-md-2 col-sm-2")
    button(data-i18n="blueColor" value="blue" class="SWA_CtxtMenuColorTool col-lg-10 col-md-10 col-sm-10")
  div(class="SWA_CtxtMenuColorTool col-lg-12 col-md-12 col-sm-12")
    img(src="/img/gamerModule/white.jpg" class="col-lg-2 col-md-2 col-sm-2")
    button(data-i18n="whiteColor" value="white" class="SWA_CtxtMenuColorTool col-lg-10 col-md-10 col-sm-10")
  div(class="SWA_CtxtMenuColorTool col-lg-12 col-md-12 col-sm-12")
    img(src="/img/gamerModule/purple.jpg" class="col-lg-2 col-md-2 col-sm-2")
    button(data-i18n="purpleColor" value="purple" class="SWA_CtxtMenuColorTool col-lg-10 col-md-10 col-sm-10")
  div(class="SWA_CtxtMenuColorTool col-lg-12 col-md-12 col-sm-12")
    img(src="/img/gamerModule/brown.jpg" class="col-lg-2 col-md-2 col-sm-2")
    button(data-i18n="brownColor" value="brown" class="SWA_CtxtMenuColorTool col-lg-10 col-md-10 col-sm-10")
