doctype html

html
  head
    title Conpa
    meta(charset="utf-8")
    link(href="/css/bootstrap.min.css" rel="stylesheet")
    link(href="//ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css" rel="stylesheet")
    link(href="/css/scrollBarStyle.css" rel="stylesheet")
    link(href="/css/generalStyles.css" rel="stylesheet")
    link(href="/css/gamerModule/generalGamerModuleStyles.css" rel="stylesheet")
    link(href="/css/gamerModule/gamePanelStyle.css" rel="stylesheet")
    link(href="/css/gamerModule/exitPanelStyle.css" rel="stylesheet")
    link(href="/css/gamerModule/cssEventStyle.css" rel="stylesheet")
    link(href="/css/gamerModule/gameBarStyle.css" rel="stylesheet")
    link(href="/css/gamerModule/cardStyle.css" rel="stylesheet")
    link(href="/css/gamerModule/questionPanel.css" rel="stylesheet")
    link(href="/css/gamerModule/contextualMenuStyle.css" rel="stylesheet")
  body
    div#gameContent(class="container-fluid")
      include gamePanel.jade
      include gameBar.jade
    div#questionContent(class="container-fluid")
      include questionPanel.jade

    //dice import
    script(src="js/lib/three.min.js")
    script(src="js/lib/stats.js")
    script(src="js/lib/ammo.js")
    script(src="js/lib/physi.js")

    script(src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="//code.jquery.com/jquery.min.js")
    script(src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js")
    script(src="/js/pagePrivileges.js")
    script(src="/bower/jquery.i18n/src/jquery.i18n.js")
    script(src="/bower/jquery.i18n/src/jquery.i18n.messagestore.js")
    script(src="/bower/jquery.i18n/src/jquery.i18n.fallbacks.js")
    script(src="/bower/jquery.i18n/src/jquery.i18n.language.js")
    script(src="/bower/jquery.i18n/src/jquery.i18n.parser.js")
    script(src="/bower/jquery.i18n/src/jquery.i18n.emitter.js")
    script(src="/bower/jquery.i18n/src/jquery.i18n.emitter.bidi.js")
    script(src="/js/gamerModule/gamerModuleStaticTexts.js")
    script(src="/bower/svg.js/dist/svg.min.js")
    script(src="/js/lib/svg.panzoom.js")
    script(src="/bower/js-md5/src/md5.js")
    script(src="/scripts/socket.io-client/dist/socket.io.js")
    script(src="/js/gamerModule/questionTimeManager.js")
    script(src="/js/gamerModule/svgClasses.js")
    script(src="/js/gamerModule/production.js")
    script(src="/js/gamerModule/gameState.js")
    script(src="js/die.js")
    script(src="/js/gamerModule/chatManager.js")
    script(src="/js/gamerModule/exitGameManager.js")
    script(src="/js/gamerModule/utils.js")
    script(src="/js/gamerModule/cardDisplay.js")
    script(src="/js/gamerModule/reloadPageManager.js")
    script(src="/js/gamerModule/legend.js")
    script(src="/js/gamerModule/gameManager.js")
