div#gameBar(class="col-lg-2 col-md-2 col-sm-2")
  div#barContent(class="col-lg-12 col-md-12 col-sm-12 col-xs-12")
    div#turnFieldRow(class="row")
      div#turnField.fieldLabel(class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10") Turn
    div#turnBoxRow(class="row")
      div#playerTurn.box(class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10")
    div#questionFieldRow(class="row")
      div#questionField.fieldLabel(class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10") Question
    div#questionBoxRow(class="row")
      div#playerQuestion.box(class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10")
    div#cardFieldRow(class="row")
      div#cardField.fieldLabel(class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10") Card
    div#playerCardRow(class="row")
      div#playerCard.box(class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10")
        div#cardHeader(class="col-lg-12 col-md-12 col-sm-12 col-xs-12")
          button#cardFamilyLogo(class="col-lg-3 col-md-3 col-sm-3 col-xs-3")
          button#cardHelp(class=" col-lg-offset-6 col-lg-3 col-md-offset-6 col-md-3 col-sm-offset-6 col-sm-3 col-xs-offset-6 col-xs-3")
        div#cardBody(class="col-lg-12 col-md-12 col-sm-12 col-xs-12")
          p#cardContent
    div#timerFieldRow(class="row")
      div#timerField.fieldLabel(class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10") Timer
    div#timerBoxRow(class="row")
      div#gameTimer.box(class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10")
        div#timer(class="col-lg-7 col-md-7 col-sm-7 col-xs-7")
        button#skipButton(class="col-lg-5 col-md-5 col-sm-5 col-xs-5")
    div#diceBoxRow(class="row")
      div#dice.box(class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10")
  
