div#gamePanel(class="basicContainer bordered col-lg-10 col-md-10 col-sm-10 col-xs-10")
  div(class="row")
    button#exit(class="basicContainer stretchedImage col-lg-1 col-md-1 col-sm-1 col-xs-1")
    div(class="basicContainer stretchedImage col-lg-1 col-md-1 col-sm-1 col-xs-1")
    div(class="basicContainer rowFlexContainer col-lg-3 col-md-3 col-sm-3 col-xs-3")
      span#pseudo
    div(class="basicContainer stretchedImage col-lg-1 col-md-1 col-sm-1 col-xs-1")
    div(class=" basicContainer rowFlexContainer col-lg-6 col-md-6 col-sm-6 col-xs-6")
      span#question
  div(class="row")
    div#productionList(class="basicContainer col-lg-1 col-md-1 col-sm-1 col-xs-1")
      div(class="row")
        button#getMyProduction(class="basicContainer col-lg-12 col-md-12 col-sm-12") My production
      div(class="row")
        button#setPrivacy(class="basicContainer stretchedImage col-lg-12 col-md-12 col-sm-12")
      div(class="rowFlexContainer ow")
        p(class="col-lg-12 col-md-12 col-sm-12") Players production
    div#productionArea(class="basicContainer col-lg-11 col-md-11 col-sm-11 col-xs-11")
      button#displayList(class="basicContainer")
      div#colorMenu(class="basicContainer stretchedImage menu")
        button(value="red" class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-1")
        button(value="green" class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-1")
        button(value="yellow" class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-1")
        button(value="blue" class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-1")
        button(value="white" class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-1")
        button(value="purple" class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-1")
        button(value="brown" class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-1")
      div#svgMenu(class="basicContainer menu")
        button#bouton(class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-1")
        button#color(value="red" class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-1")
      div#production(class="basicContainer" style='contenteditable="true"')
  div#exitPanel(class="row")
    div(class="row rowFlexContainer")
      span#exitPanelTitle Exit the game ?
    div(class="row rowFlexContainer")
      div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12 rowFlexContainer")
    div(class="row rowFlexContainer")
      span#exitMessage
    div(class="row rowFlexContainer")
      button#leaveAlone(class="myCustomButton col-lg-3 col-md-3 col-sm-3 col-xs-3") leave alone
      button#stopGame(class="myCustomButton col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-3 col-sm-offset-1 col-sm-3 col-xs-offset-1 col-xs-3") stop game
      button#validateExit(class="myCustomButton col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-3 col-sm-offset-1 col-sm-3 col-xs-offset-1 col-xs-3") agree
      button#closeExitPanel(class="myCustomButton col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-3 col-sm-offset-1 col-sm-3 col-xs-offset-1 col-xs-3") cancel
      button#cancelExit(class="myCustomButton col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-3 col-sm-offset-1 col-sm-3 col-xs-offset-1 col-xs-3") refuse
  div#chatInfos(class="col-lg-12 col-md-12 col-sm-12 col-xs-12")
    div(class="basicContainer col-lg-7 col-md-7 col-sm-7 col-xs-7")
      div(class="row")
        section#messages(class="basicContainer col-lg-12 col-md-12 col-sm-12 col-xs-12")
      div(class="row")
        input#inputBox(class="basicContainer col-lg-9 col-md-9 col-sm-9 col-xs-9" type="text" value="Write your message here !")
        select#chatPlayers(class="col-lg-2 col-md-2 col-sm-2 col-xs-2")
          option(value="all") general
        button#sendButton(class="basicContainer stretchedImage col-lg-1 col-md-1 col-sm-1 col-xs-1")
    div(class="basicContainer col-lg-5 col-md-5 col-sm-5 col-xs-5")
      div(class="basicContainer row")
        textarea#notesArea(class="col-lg-11 col-md-11 col-sm-11 col-xs-11") Write your notes here !
        div#menu(class="basicContainer columnFlexContainer col-lg-1 col-md-1 col-sm-1 col-xs-1")
          button#copy.notesTool
          button#clear.notesTool
          button#undo.notesTool
