div#gameBar(class="col-lg-2 col-md-2 col-sm-2")
  div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12")
    div(class="row")
      div.fieldLabel(class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10") Turn
    div(class="row")
      div#playerTurn.box(class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10")
    div(class="row")
      div.fieldLabel(class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10") Question
    div(class="row")
      div#playerQuestion.box(class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10")
    div(class="row")
      div.fieldLabel(class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10") Card
    div(class="row")
      div.box(class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10")
        div(class="rowFlexContainer col-lg-12 col-md-12 col-sm-12 col-xs-12")
          button#cardFamilyLogo(class="col-lg-3 col-md-3 col-sm-3 col-xs-3")
          button#cardHelp(class=" col-lg-offset-6 col-lg-3 col-md-offset-6 col-md-3 col-sm-offset-6 col-sm-3 col-xs-offset-6 col-xs-3")
        div(class="rowFlexContainer col-lg-12 col-md-12 col-sm-12 col-xs-12")
          p#cardContent
    div(class="row")
      div.fieldLabel(class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10") Timer
    div(class="row")
      div.box(class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10")
        div(class="col-lg-7 col-md-7 col-sm-7 col-xs-7")
        button#skipButton(class="stretchedImage col-lg-5 col-md-5 col-sm-5 col-xs-5")
    div(class="row")
      button#startDice(class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-10") dice
  
