div#productionPanel(class="basicContainer columnFlexContainer col-lg-12 col-md-12 col-sm-12")
  div(class="productionHeader rowFlexContainer col-lg-12 col-md-12 col-sm-12")
    div(class="spectatorsList")
      div(class="rowFlexContainer col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10" style="height: 10%;")
        span(data-i18n="spectators" class="myCustomBoldFont castedProdSpan")
      div(class="spectatorsListContent col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10" style="height: 90%;")
    div(class="basicContainer productionsAccessBar rowFlexContainer")
      div(class="basicContainer productionsAccessBarContent")
        div(class="row myAccess")
          div(class="basicContainer centeredItems selectedProduction")
            span(data-i18n="myProductionAccess" class="playerOnly") My production
            span(data-i18n="mosaicAccess" class="animatorOnly") Mosaic
        div(class="row myPrivacy playerOnly centeredItems")
          button#setPrivacy(value="private" class="basicContainer imageButton col-lg-12 col-md-12 col-sm-12")
        div(class="rowFlexContainer row prodSeparator")
          p(data-i18n="playersProductionAccess" class="col-lg-12 col-md-12 col-sm-12") Players production
        div#productionList(class="row foreingProdAccess")
        button#questions(data-i18n="openQuestionsList" class="imageButton col-lg-12 col-md-12 col-sm-12")
      button#displayList(value="hidden" class="basicContainer imageButton productionsAccessBarDisplayer")
    div(class="basicContainer productionContainer")
      include workingArea.jade
    div#castRequest(class="castAlertPanel col-lg-3 col-md-3 col-sm-3 col-xs-3")
      div(class="row rowFlexContainer" style="height: 50%;")
        span(data-i18n="castProductionRequest" class="myCustomCenterBasicFont")
      div(class="row rowFlexContainer" style="height: 50%;")
        button(data-i18n="agree" class="confirm myCustomButton col-lg-5 col-md-5 col-sm-5 col-xs-5" style="height: 50%;")
        button(data-i18n="refuse" class="cancel myCustomButton col-lg-offset-1 col-lg-5 col-md-offset-1 col-md-5 col-sm-offset-1 col-sm-5 col-xs-offset-1 col-xs-5" style="height: 50%;")
    div#castOption(class="castAlertPanel col-lg-4 col-md-4 col-sm-4 col-xs-4")
      div(class="row rowFlexContainer" style="height: 40%;")
        span(data-i18n="castOption" class="myCustomCenterBasicFont")
      div(class="row rowFlexContainer" style="height: 20%;")
        select(multiple="multiple")
      div(class="row rowFlexContainer" style="height: 40%;")
        button(data-i18n="confirm" class="confirm myCustomButton col-lg-5 col-md-5 col-sm-5 col-xs-5" style="height: 50%;")
        button(data-i18n="cancel" class="cancel myCustomButton col-lg-offset-1 col-lg-5 col-md-offset-1 col-md-5 col-sm-offset-1 col-sm-5 col-xs-offset-1 col-xs-5" style="height: 50%;")
  div(class="productionBottom  rowFlexContainer col-lg-12 col-md-12 col-sm-12")
    div(class="spectatorsListBottom centeredItems col-lg-12 col-md-12 col-sm-12")
      div(class="centeredItems col-lg-2 col-md-2 col-sm-2 col-xs-2")
        span(data-i18n="playerLabel" class="myCustomBoldFont castedProdSpan col-lg-offset-4 col-lg-8 col-md-offset-4 col-md-8 col-sm-offset-4 col-sm-8")
      div(class="col-lg-2 col-md-2 col-sm-2 col-xs-2")
        input(name="pseudo" class="myCustomBasicFont myCustomIndicator col-lg-12 col-md-12 col-sm-12" readonly)
      div(class="centeredItems col-lg-2 col-md-2 col-sm-2 col-xs-2")
        span(data-i18n="questionLabel" class="myCustomBoldFont castedProdSpan col-lg-offset-4 col-lg-8 col-md-offset-4 col-md-8 col-sm-offset-4 col-sm-8")
      div(class="col-lg-4 col-md-4 col-sm-4 col-xs-4")
        input(name="question" class="myCustomBasicFont myCustomIndicator col-lg-12 col-md-12 col-sm-12" readonly)
      div(class="rowFlexContainer col-lg-2 col-md-2 col-sm-2 col-xs-2")
        button(data-i18n="exit" class="myCustomButton col-lg-8 col-md-8 col-sm-8")
