div#selectCardPanel(class="gamePanel row")
  div(class="gamePanelHeader row rowFlexContainer")
    span(data-i18n="selectCard")
  div(class="gamePanelBody row rowFlexContainer")
    div(class="col-lg-12 col-md-12 col-sm-12 col-xs-12 rowFlexContainer")
