div(class="SWA_Master SWA_RowFlexContainer SWA_BasicContainer col-lg-12 col-md-12 col-sm-12 col-xs-12")
  div(class="SWA_BasicContainer SWA_Menu SWA_Colors")
    button(value="red" class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-1")
    button(value="green" class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-1")
    button(value="yellow" class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-1")
    button(value="blue" class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-1")
    button(value="white" class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-1")
    button(value="purple" class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-1")
    button(value="brown" class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-1")
  div(class="SWA_BasicContainer SWA_Menu SWA_Tools")
    div
      button(name="createRect" value="red" class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-1")
      button(name="color" value="red" class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-1")
      button(name="moveElement" class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-1")
      button(name="centerSVG" class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-1")
      button(name="legend" value="visible" class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-1")
      button(name="fullScreen" value="off" class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-1")
      button(name="cast" class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-1")
    div(class="SWA_CenteredItems")
      label(class="SWA_ZoomIndicator SWA_MyIndicator SWA_RowFlexContainer col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-offset-1 col-xs-1") Zoom x1.00
  div(class="SWA_BasicContainer SWA_SVGContainer SWA_Production SWA_CenteredImageBackground")
    include ../gamerModule/contextualMenu.jade
    div(class="SWA_Overlay")
      div(class="SWA_OverlayContent")
        h4 this legend will fill itself dynamically, don't forget you can resize it and move it.
  div(class="SWA_BasicContainer SWA_MosaicContainer SWA_Mosaic")
