div#accountTab(class="formWrapperStyle col-lg-12 col-md-12 col-sm-12")
  div(class="accountProfil tabContent col-lg-12 col-md-12 col-sm-12")
    div(class="header rowFlexContainer row")
      h3(data-i18n="accountProfil" class="col-lg-12 col-md-12 col-sm-12")
    div(class="body row")
      div(class="row profilInfo")
        div(class="basicContainer rowFlexContainer col-lg-5 col-md-5 col-sm-5")
          img(class="basicContainer col-lg-9 col-md-9 col-sm-9")
        div(class="basicContainer col-lg-7 col-md-7 col-sm-7")
          div(class="row profilField")
            div(class="basicContainer centeredItems col-lg-10 col-md-10 col-sm-10")
              span(data-i18n="pseudoLabel" class="myCustomBoldFont col-lg-10 col-md-10 col-sm-10")
          div(class="row profilField")
            div(class="basicContainer centeredItems col-lg-10 col-md-10 col-sm-10")
              input(name="pseudo" class="myCustomInput col-lg-8 col-md-8 col-sm-8" readonly)
          div(class="row profilField")
            div(class="basicContainer centeredItems col-lg-10 col-md-10 col-sm-10")
              span(data-i18n="emailLabel" class="myCustomBoldFont col-lg-10 col-md-10 col-sm-10")
          div(class="row profilField")
            div(class="basicContainer centeredItems col-lg-10 col-md-10 col-sm-10")
              input(name="email" class="myCustomInput col-lg-12 col-md-12 col-sm-12" readonly)
      div(class="row changeAvatar")
        div(class="basicContainer rowFlexContainer col-lg-5 col-md-5 col-sm-5")
          a(data-i18n="changeAvatar" href="//fr.gravatar.com/" target="_blank" class="basicContainer myCustomCenterBasicFont col-lg-9 col-md-9 col-sm-9")
      div(class="row rowFlexContainer myProductions")
        button(data-i18n="myProductions" class="myCustomButton myCustomCenterBoldFont col-lg-8 col-md-8 col-sm-8")
    div(class="formBottomStyle bottom row")

  include gamesTablePanel.jade  

  div(class="productionsList col-lg-12 col-md-12 col-sm-12")
    div(class="header rowFlexContainer row")
      h3(data-i18n="productionsList" class="col-lg-12 col-md-12 col-sm-12")
    div(class="body row")
      div(class="col-lg-12 col-md-12 col-sm-12")
        table(class="col-lg-12 col-md-12 col-sm-12")
          thead
            tr
              th(data-i18n="productionRang" class="col-lg-4 col-md-4 col-sm-4")
              th(data-i18n="historicServerDate" class="col-lg-8 col-md-8 col-sm-8")
          tbody
    div(class="bottom row centeredItems formBottomStyle")
      div(class="rowFlexContainer col-lg-offset-1 col-lg-2 col-md-offset-1 col-md-2 col-sm-offset-1 col-sm-2")
        button(name="deleteEntry" data-i18n="delete" class="myCustomButton col-lg-12 col-md-12 col-sm-12")
      div(class="rowFlexContainer col-lg-offset-2 col-lg-7 col-md-offset-2 col-md-7 col-sm-offset-2 col-sm-7")
        button(name="download" data-i18n="downloadProduction" class="myCustomButton col-lg-3 col-md-3 col-sm-3")
        button(name="edit" data-i18n="editProduction" class="myCustomButton col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-3 col-sm-offset-1 col-sm-3")
        button(name="comeBack" data-i18n="comeBack" class="myCustomButton col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-3 col-sm-offset-1 col-sm-3")

  include productionEditorPanel.jade
  
  div(class="overwriteAlert col-lg-12 col-md-12 col-sm-12")
    div(class="header rowFlexContainer row")
      h3(data-i18n="overwriteAlert" class="alertTitle col-lg-12 col-md-12 col-sm-12")
    div(class="body row centeredItems")
      span(data-i18n="overwriteMessage" class="overwriteMessage col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10")
    div(class="formBottomStyle bottom row")
      div(class="rowFlexContainer col-lg-12 col-md-12 col-sm-12")
        button(data-i18n="overwrite" class="overwrite myCustomButton col-lg-offset-4 col-lg-3 col-md-offset-4 col-md-3 col-sm-offset-4 col-sm-3")
        button(data-i18n="newProduction" class="add myCustomButton col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-3 col-sm-offset-1 col-sm-3")
