div(class="cardgameInfoPanel col-lg-12 col-md-12 col-sm-12")
  div(class="header rowFlexContainer row")
    h3(data-i18n="cardgameInfoTitle" class="col-lg-12 col-md-12 col-sm-12")
  div(class="body row")
    div(class="columnFlexContainer row")
      div(class="rowFlexContainer col-lg-12 col-md-12 col-sm-12")
        label(data-i18n="cardgameName" class="col-lg-5 col-md-5 col-sm-5")
        label(data-i18n="cardgameLanguage" class="col-lg-offset-1 col-lg-5 col-md-offset-1 col-md-5 col-sm-offset-1 col-sm-5")
      div(class="rowFlexContainer col-lg-12 col-md-12 col-sm-12")
        input(name="cardgameName" readonly class="myCustomInput col-lg-5 col-md-5 col-sm-5")
        input(name="cardgameLanguage" readonly class="myCustomInput col-lg-offset-1 col-lg-5 col-md-offset-1 col-md-5 col-sm-offset-1 col-sm-5")
    div(class="columnFlexContainer row")
      div(class="rowFlexContainer col-lg-12 col-md-12 col-sm-12")
        label(data-i18n="cardgameDescription")
      div(class="rowFlexContainer col-lg-12 col-md-12 col-sm-12")
        textarea(class="col-lg-10 col-md-10 col-sm-10" readonly)
    div(class="rowFlexContainer row")
      table(class="tagsTable col-lg-10 col-md-10 col-sm-10")
        thead
          tr
            th(data-i18n="TAGS" class="col-lg-12 col-md-12 col-sm-12")
        tbody      
  div(class="formBottomStyle bottom row")
    div(class="rowFlexContainer col-lg-12 col-md-12 col-sm-12")
      button(data-i18n="close" class="myCustomButton col-lg-3 col-md-3 col-sm-3")
