div#linkContextMenu(class="contextMenu")
  div(class="mainToolEditor col-lg-12 col-md-12 col-sm-12")
    img(src="/img/gamerModule/linkIcons/delete.png" class="col-lg-2 col-md-2 col-sm-2")
    button#removeLink(data-i18n="removeLinkTool" class="mainToolEditor col-lg-10 col-md-10 col-sm-10")
  div(class="mainToolEditor col-lg-12 col-md-12 col-sm-12")
    img(src="/img/gamerModule/linkIcons/dash.png" class="col-lg-2 col-md-2 col-sm-2")
    button#dashLink(data-i18n="dashLinkTool" class="mainToolEditor col-lg-10 col-md-10 col-sm-10")
  div(class="mainToolEditor col-lg-12 col-md-12 col-sm-12")
    img(src="/img/gamerModule/linkIcons/linear.png" class="col-lg-2 col-md-2 col-sm-2")
    button#linearLink(data-i18n="linearLinkTool" class="mainToolEditor col-lg-10 col-md-10 col-sm-10")
  div(class="mainToolEditor col-lg-12 col-md-12 col-sm-12")
    img(src="/img/gamerModule/linkIcons/thicker.png" class="col-lg-2 col-md-2 col-sm-2")
    button#increaseWidth(data-i18n="thickerLinkTool" class="mainToolEditor col-lg-10 col-md-10 col-sm-10")
  div(class="mainToolEditor col-lg-12 col-md-12 col-sm-12")
    img(src="/img/gamerModule/linkIcons/lessThick.png" class="col-lg-2 col-md-2 col-sm-2")
    button#decreaseWidth(data-i18n="lessThickLinkTool" class="mainToolEditor col-lg-10 col-md-10 col-sm-10")
  div(class="mainToolEditor col-lg-12 col-md-12 col-sm-12")
    img(src="/img/gamerModule/linkIcons/addNav.png" class="col-lg-2 col-md-2 col-sm-2")
    button#navigability(data-i18n="addNavLinkOption" class="mainToolEditor col-lg-10 col-md-10 col-sm-10")
  div(class="mainToolEditor col-lg-12 col-md-12 col-sm-12")
    img(src="/img/gamerModule/linkIcons/reverseNav.png" class="col-lg-2 col-md-2 col-sm-2")
    button#reverseNavigability(data-i18n="reverseNavLinkTool" class="mainToolEditor col-lg-10 col-md-10 col-sm-10")
  div(class="mainToolEditor col-lg-12 col-md-12 col-sm-12")
    img(src="/img/gamerModule/linkIcons/removeNav.png" class="col-lg-2 col-md-2 col-sm-2")
    button#removeNavigability(data-i18n="removeNavLinkTool" class="mainToolEditor col-lg-10 col-md-10 col-sm-10")
  div(class="mainToolEditor col-lg-12 col-md-12 col-sm-12")
    img(src="/img/gamerModule/linkIcons/color.png" class="col-lg-2 col-md-2 col-sm-2")
    button#linkColor(data-i18n="colorLinkTool" class="myCustomButton col-lg-10 col-md-10 col-sm-10")
  div(class="colorToolEditor col-lg-12 col-md-12 col-sm-12")
    img(src="/img/gamerModule/red.jpg" class="col-lg-2 col-md-2 col-sm-2")
    button(data-i18n="redColor" value="red" class="myCustomButton colorToolEditor col-lg-10 col-md-10 col-sm-10")
  div(class="colorToolEditor col-lg-12 col-md-12 col-sm-12")
    img(src="/img/gamerModule/green.jpg" class="col-lg-2 col-md-2 col-sm-2")
    button(data-i18n="greenColor" value="green" class="myCustomButton colorToolEditor col-lg-10 col-md-10 col-sm-10")
  div(class="colorToolEditor col-lg-12 col-md-12 col-sm-12")
    img(src="/img/gamerModule/yellow.jpg" class="col-lg-2 col-md-2 col-sm-2")
    button(data-i18n="yellowColor" value="yellow" class="myCustomButton colorToolEditor col-lg-10 col-md-10 col-sm-10")
  div(class="colorToolEditor col-lg-12 col-md-12 col-sm-12")
    img(src="/img/gamerModule/blue.jpg" class="col-lg-2 col-md-2 col-sm-2")
    button(data-i18n="blueColor" value="blue" class="myCustomButton colorToolEditor col-lg-10 col-md-10 col-sm-10")
  div(class="colorToolEditor col-lg-12 col-md-12 col-sm-12")
    img(src="/img/gamerModule/white.jpg" class="col-lg-2 col-md-2 col-sm-2")
    button(data-i18n="whiteColor" value="white" class="myCustomButton colorToolEditor col-lg-10 col-md-10 col-sm-10")
  div(class="colorToolEditor col-lg-12 col-md-12 col-sm-12")
    img(src="/img/gamerModule/purple.jpg" class="col-lg-2 col-md-2 col-sm-2")
    button(data-i18n="purpleColor" value="purple" class="myCustomButton colorToolEditor col-lg-10 col-md-10 col-sm-10")
  div(class="colorToolEditor col-lg-12 col-md-12 col-sm-12")
    img(src="/img/gamerModule/brown.jpg" class="col-lg-2 col-md-2 col-sm-2")
    button(data-i18n="brownColor" value="brown" class="myCustomButton colorToolEditor col-lg-10 col-md-10 col-sm-10")
