div#editorTab(class="formWrapperStyle rowFlexContainer col-lg-12 col-md-12 col-sm-12")
  div(class="tabContent active col-lg-12 col-md-12 col-sm-12")
    div(class="header rowFlexContainer ow")
      h3(data-i18n="editorTabTitle" class="col-lg-12 col-md-12 col-sm-12")
    div(class="body row")
      div(class="col-lg-12 col-md-12 col-sm-12")
        table#myCardgames(class="col-lg-12 col-md-12 col-sm-12")
          thead
            tr
              th(data-i18n="cardgameName" class="col-lg-2 col-md-2 col-sm-2")
              th(data-i18n="cardgameLanguage" class="col-lg-2 col-md-2 col-sm-2")
          tbody
    div(class="formBottomStyle bottom row")
      div(class="rowFlexContainer col-lg-12 col-md-12 col-sm-12")
        div(class="rowFlexContainer col-lg-5 col-md-5 col-sm-5" style="height:100%")
          button#importCardGame(data-i18n="importCardgame" class="myCustomButton col-lg-5 col-md-5 col-sm-5")
          button#exportCardGame(data-i18n="exportCardgame" class="myCustomButton col-lg-offset-1 col-lg-5 col-md-offset-1 col-md-5 col-sm-offset-1 col-sm-5")
        div(class="rowFlexContainer col-lg-offset-2 col-lg-5 col-md-offset-2 col-md-5 col-sm-offset-2 col-sm-5" style="height:100%")
          button#createCardGame(data-i18n="createCardgame" class="myCustomButton col-lg-5 col-md-5 col-sm-5")
          button#editCardGame(data-i18n="editCardgame" class="myCustomButton col-lg-offset-1 col-lg-5 col-md-offset-1 col-md-5 col-sm-offset-1 col-sm-5")

  div(class="importPage col-lg-12 col-md-12 col-sm-12")
    div(class="header rowFlexContainer row")
      h3(data-i18n="importCSVFormTitle" class="col-lg-12 col-md-12 col-sm-12")
    div(class="body row")
      div(class="rowFlexContainer row")
        span#importAlertMessage
      div(class="rowFlexContainer row")
        button#importButton(data-i18n="importedFile" class="myCustomInput col-lg-8 col-md-8 col-sm-8")
        input#import(data-i18n="" type="file" accept=".csv")
    div(class="formBottomStyle bottom row")
      div(class="rowFlexContainer col-lg-12 col-md-12 col-sm-12")
        button#cancelImport(data-i18n="cancelImport" class="myCustomButton col-lg-offset-4 col-lg-3 col-md-offset-4 col-md-3 col-sm-offset-4 col-sm-3")
        button#valideImport(data-i18n="validateImport" class="myCustomButton col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-3 col-sm-offset-1 col-sm-3")
