div#gameTab(class="formWrapperStyle rowFlexContainer col-lg-12 col-md-12 col-sm-12")
  div(class="tabContent active col-lg-12 col-md-12 col-sm-12")
    div(class="header rowFlexContainer row")
      h3(data-i18n="gameTabTitle" class="col-lg-12 col-md-12 col-sm-12")
    div(class="body row")
      div(class="col-lg-12 col-md-12 col-sm-12")
        table#serverList(class="col-lg-12 col-md-12 col-sm-12")
          thead
            tr
              th(onclick="sortGameTable(0)")
                span(data-i18n="gameServerName")
                i(class="fas fa-sort")
              th(onclick="sortGameTable(1)")
                span(data-i18n="gameServerHost")
                i(class="fas fa-sort")
              th(onclick="sortGameTable(2)")
                span(data-i18n="gameServerAnimator")
                i(class="fas fa-sort")
              th(onclick="sortGameTable(3)")
                span(data-i18n="gameServerPlayers")
                i(class="fas fa-sort")
              th(onclick="sortGameTable(4)")
                span(data-i18n="gameServerStatus")
                i(class="fas fa-sort")
          tbody
    div(class="formBottomStyle bottom row")
      div(class="centeredItems col-lg-offset-1 col-lg-6 col-md-offset-1 col-md-6 col-sm-offset-1 col-sm-6")
        span#serverMsg
      div(class="rowFlexContainer col-lg-offset-1 col-lg-4 col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-4")
        button#create(data-i18n="createGameServer" class="switch myCustomButton col-lg-offset-1 col-lg-4 col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-4")
        button#join(data-i18n="joinGameServer" class="myCustomButton col-lg-offset-1 col-lg-4 col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-4")
  
  div#serverManager(class="col-lg-12 col-md-12 col-sm-12")
    div(class="header rowFlexContainer row")
      h3(data-i18n="gameServerManagerTitle" class="col-lg-12 col-md-12 col-sm-12")
    div(class="body row")
      div(class="settingCategory centeredItems col-lg-12 col-md-12 col-sm-12")
        span(data-i18n="gameServerManagerBasicSettings" class="col-lg-5 col-md-5 col-sm-5")
        span(class="errorBasicSettings col-lg-5 col-md-5 col-sm-5")
        button(value="hide" class="imageButton col-lg-offset-1 col-lg-1 col-md-offset-1 col-md-1 col-sm-offset-1 col-sm-1")
      div(class="basicSettings col-lg-12 col-md-12 col-sm-12")
        div(class="col-lg-12 col-md-12 col-sm-12")
          label(data-i18n="gsmNameField" class="col-lg-2 col-md-2 col-sm-2")
          input#name(type="text" class="myCustomInput col-lg-3 col-md-3 col-sm-3")
          label(data-i18n="gsmPlacesField" class="col-lg-offset-1 col-lg-4 col-md-offset-1 col-md-4 col-sm-offset-1 col-sm-4")
          input#places(type="number" value=1 min=1 class="myCustomInput col-lg-2 col-md-2 col-sm-2")
        div(class="col-lg-12 col-md-12 col-sm-12")
          label(data-i18n="gsmRoleField" class="col-lg-offset-6 col-lg-4 col-md-offset-6 col-md-4 col-sm-offset-6 col-sm-4")
          input#role(type="button" value="player" class="myCustomInput col-lg-2 col-md-2 col-sm-2")
      div(class="settingCategory centeredItems col-lg-12 col-md-12 col-sm-12")
        span(data-i18n="gameServerManagerCardgameSettings" class="col-lg-5 col-md-5 col-sm-5")
        span(class="errorCardGame col-lg-5 col-md-5 col-sm-5")
        button(value="hide" class="imageButton col-lg-offset-1 col-lg-1 col-md-offset-1 col-md-1 col-sm-offset-1 col-sm-1")
      div(class="cardgameSettings col-lg-12 col-md-12 col-sm-12")
        div(class="centeredItems col-lg-12 col-md-12 col-sm-12")
          div(class="centeredItems col-lg-offset-1 col-lg-7 col-md-offset-1 col-md-7 col-sm-offset-1 col-sm-7")
            select(multiple="multiple")
          div(class="centeredItems col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-3 col-sm-offset-1 col-sm-3")
            button(class="myCustomButton filter") Filtrer
        div(class="col-lg-12 col-md-12 col-sm-12")
          table#cardgames(class="col-lg-12 col-md-12 col-sm-12")
            thead
              tr
                th(onclick="sortSMTable(0)" class="col-lg-3 col-md-3 col-sm-3")
                  span(data-i18n="cardgameName")
                  i(class="fas fa-sort")
                th(onclick="sortSMTable(1)" class="col-lg-3 col-md-3 col-sm-3")
                  span(data-i18n="cardgameLanguage")
                  i(class="fas fa-sort")
                th(onclick="sortSMTable(2)" class="col-lg-3 col-md-3 col-sm-3")
                  span(data-i18n="cardgameAuteur")
                  i(class="fas fa-sort")
                th(data-i18n="cardgameInfo" class="col-lg-3 col-md-3 col-sm-3")
            tbody
      div(class="settingCategory centeredItems col-lg-12 col-md-12 col-sm-12")
        span(data-i18n="gameServerManagerTimersSettings" class="col-lg-5 col-md-5 col-sm-5")
        span(class="errorTimersSettings col-lg-5 col-md-5 col-sm-5")
        button(value="hide" class="imageButton col-lg-offset-1 col-lg-1 col-md-offset-1 col-md-1 col-sm-offset-1 col-sm-1")
      div(class="timersSetings col-lg-12 col-md-12 col-sm-12")
        div(class="col-lg-12 col-md-12 col-sm-12")
          label(data-i18n="gsmActivateTimersOption" class="col-lg-5 col-md-5 col-sm-5")
          input#timers(type="button" value="no" class="myCustomInput col-lg-2 col-md-2 col-sm-2")
        div(class="timersOption col-lg-12 col-md-12 col-sm-12")
          label(data-i18n="gsmGlobalTimerField" class="col-lg-5 col-md-5 col-sm-5")
          input#globalTimer(type="number" value=1 min=1 class="myCustomInput col-lg-2 col-md-2 col-sm-2")
        div(class="timersOption col-lg-12 col-md-12 col-sm-12")
          label(data-i18n="gsmIndividualTimerField" class="col-lg-5 col-md-5 col-sm-5")
          input#indivTimer(type="number" value=1 min=1 class="myCustomInput col-lg-2 col-md-2 col-sm-2")
        div(class="timersOption col-lg-12 col-md-12 col-sm-12")
          label(data-i18n="gsmAppropriationTimeField" class="col-lg-5 col-md-5 col-sm-5")
          input#appropriation(type="number" value=1 min=1 class="myCustomInput col-lg-2 col-md-2 col-sm-2")
      div(class="settingCategory centeredItems col-lg-12 col-md-12 col-sm-12")
        span(data-i18n="gameServerManagerAdvancedSettings" class="col-lg-5 col-md-5 col-sm-5")
        span(class="error_advanced col-lg-5 col-md-5 col-sm-5")
        button(value="hide" class="imageButton col-lg-offset-1 col-lg-1 col-md-offset-1 col-md-1 col-sm-offset-1 col-sm-1")
      div(class="advancedSettings col-lg-12 col-md-12 col-sm-12")
        div(class="col-lg-12 col-md-12 col-sm-12")
          label(data-i18n="gsmForceEndOfTurn" class="col-lg-8 col-md-8 col-sm-8")
          input#forceTurn(type="button" value="no" class="myCustomInput col-lg-offset-1 col-lg-2 col-md-offset-1 col-md-2 col-sm-offset-1 col-sm-2")
        div(class="forceTurnOption col-lg-12 col-md-12 col-sm-12")
          label(data-i18n="gsmEndOfTurnField" class="col-lg-8 col-md-8 col-sm-8")
          input#forcingTime(type="number" value=2 min=2 class="myCustomInput col-lg-offset-1 col-lg-2 col-md-offset-1 col-md-2 col-sm-offset-1 col-sm-2")
        div(class="col-lg-12 col-md-12 col-sm-12")
          label(data-i18n="gsmSharingProductionField" class="col-lg-8 col-md-8 col-sm-8")
          input#prodSharing(type="number" value=15 min=5 class="myCustomInput col-lg-offset-1 col-lg-2 col-md-offset-1 col-md-2 col-sm-offset-1 col-sm-2")
    div(class="formBottomStyle bottom row")
      div(class="rowFlexContainer col-lg-offset-6 col-lg-5 col-md-offset-6 col-md-5 col-sm-offset-6 col-sm-5")
        button#cancel(data-i18n="gsmCancel" class="switch myCustomButton col-lg-offset-1 col-lg-5 col-md-offset-1 col-md-5 col-sm-offset-1 col-sm-5")
        button#validate(data-i18n="gsmValidate" class="myCustomButton col-lg-offset-1 col-lg-5 col-md-offset-1 col-md-5 col-sm-offset-1 col-sm-5")

  include cardgameInfo.jade
  include ../alertForm.jade
