doctype html

html
  head
    title Conpa
    meta(charset="utf-8")
    link(href="/css/bootstrap.min.css" rel="stylesheet")
    link(href="//ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css" rel="stylesheet")
    link(href="/css/scrollBarStyle.css" rel="stylesheet")
    link(href="/css/generalStyles.css" rel="stylesheet")
    link(href="/css/mainPage/style.css" rel="stylesheet")
    link(href="/css/mainPage/tabStyle.css" rel="stylesheet")
    link(href="/css/mainPage/gameTabStyle.css" rel="stylesheet")
    link(href="/css/mainPage/historicTabStyle.css" rel="stylesheet")
    link(href="/css/mainPage/editorTabStyle.css" rel="stylesheet")
    link(href="/css/mainPage/contextualMenu.css" rel="stylesheet")
    link(href="/css/gamerModule/gamePanelStyle.css" rel="stylesheet")
    link(href="/css/alertForm.css" rel="stylesheet")
    link(href="/css/mainPage/cardgameInfo.css", rel="stylesheet")
    link(href="/bootstrap-multiselect/dist/css/bootstrap-multiselect.css" rel="stylesheet")
    link(rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.13/css/all.css")
  body
    div(class="defaultStyle container-fluid")
      header(style="margin:0" class="stretchedImage row")
        div(class="defaultStyle rowFlexContainer col-lg-3 col-md-3 col-sm-3")
          div(class="identityCard col-lg-10 col-md-10 col-sm-10")
            div(class="defaultStyle col-lg-5 col-md-5 col-sm-5")
              div(class="defaultStyle centeredItems row")
                img#profilePicture(src="/img/gamerModule/defaultProfileImage.jpg" class="stretchedImage col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10")
            div(class="userInfos col-lg-7 col-md-7 col-sm-7")
              div(style="height: 25%" class="row")
                span#pseudoLabel(data-i18n="pseudoLabel" class="myCustomTitle col-lg-12 col-md-12 col-sm-12")
              div(style="height: 25%" class="row")
                span#pseudo(class="col-lg-12 col-md-12 col-sm-12")
              div(style="height: 40%" class="row")
                button#disconnect(class="col-lg-offset-8 col-lg-2 col-md-offset-8 col-md-2 col-sm-offset-8 col-sm-2")
        div(style="padding-right:20px" class="defaultStyle col-lg-9 col-md-9 col-sm-9")
          div(class="header1 row")
            div#title(class="rowFlexContainer myCustomTitle col-lg-offset-1 col-lg-5 col-md-offset-1 col-md-5 col-sm-offset-1 col-sm-5") CONPA
            div#clock(class="siteInfo rowFlexContainer myCustomTitle col-lg-offset-4 col-lg-2 col-md-offset-4 col-md-2 col-sm-offset-4 col-sm-2")
          div(class="header2 row")
            div(style="height:100%" class="startPath col-lg-offset-4 col-md-offset-4 col-sm-offset-4")
          div(class="header3 row")
            div(style="height:100%" class="leftPath col-lg-offset-2 col-lg-2 col-md-offset-2 col-md-2 col-sm-offset-2 col-sm-2")
            div(style="height:100%" class="rightPath col-lg-1 col-md-1 col-sm-1")
            div(style="height:100%" class="rightPath col-lg-3 col-md-3 col-sm-3")
            div(style="height:100%" class="rightPath col-lg-3 col-md-3 col-sm-3")
          div(class="header4 row")
            section(class="tabContainer col-lg-12 col-md-12 col-sm-12")
              div#Account(data-i18n="accountTab" class="tab rowFlexContainer myCustomTitle col-lg-3 col-md-3 col-sm-3" style="color:#01B90D")
              div#Editor(data-i18n="editorTab" class="tab rowFlexContainer myCustomTitle col-lg-3 col-md-3 col-sm-3" style="color:#EFD700")
              div#Historic(data-i18n="historicTab" class="tab rowFlexContainer myCustomTitle col-lg-3 col-md-3 col-sm-3" style="color:#035EFB")
              div#Game(data-i18n="gameTab" class="tab rowFlexContainer myCustomTitle col-lg-3 col-md-3 col-sm-3" style="color:#CB1D1D")
      div(class="pageContent rowFlexContainer row")
        include gameTab.jade
        include historicTab.jade
        include editorTab.jade
            
  script(src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  script(src="//code.jquery.com/jquery.min.js")
  script(src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js")
  script(src="/scripts/popper.js/dist/umd/popper.min.js")
  script(src="/scripts/bootstrap/dist/js/bootstrap.min.js")
  script(src="/bootstrap-multiselect/dist/js/bootstrap-multiselect.js")
  script(src="/bower/jquery.i18n/src/jquery.i18n.js")
  script(src="/bower/jquery.i18n/src/jquery.i18n.messagestore.js")
  script(src="/bower/jquery.i18n/src/jquery.i18n.fallbacks.js")
  script(src="/bower/jquery.i18n/src/jquery.i18n.language.js")
  script(src="/bower/jquery.i18n/src/jquery.i18n.parser.js")
  script(src="/bower/jquery.i18n/src/jquery.i18n.emitter.js")
  script(src="/bower/jquery.i18n/src/jquery.i18n.emitter.bidi.js")
  script(src="/js/mainPage/mainPageStaticTexts.js")
  script(src="/scripts/socket.io-client/dist/socket.io.js")
  script(src="/bower/js-md5/src/md5.js")
  script(src="/js/pagePrivileges.js")
  script(src="/js/mainPage/header.js")
  script(src="/js/mainPage/sharedFunctions.js")
  script(src="/js/mainPage/tabManager.js")
  script(src="/js/mainPage/gameTabManager.js")
  script(src="/js/mainPage/historicTabManager.js")
  script(src="/js/mainPage/editorTabManager.js")
  script(src="/js/uploadCSVEvent.js")
  script(src="/js/gamerModule/utils.js")
  script(src="/bower/svg.js/dist/svg.min.js")
  script(src="/js/lib/svg.panzoom.js")
  script(src="/js/gamerModule/svgClasses.js")
  script(src="/js/gamerModule/production.js")
  script(src="/js/gamerModule/legend.js")

              
        
