doctype
html
    head
        title= 'Reset your password'
    body
        p Hi #{name},
        p it's seem like you want to reset your password, follow this link or copy it into your browser : &nbsp;
        a(href="#{urlReset}") #{urlReset}