doctype
html
    head
        title= 'Reset your password'
        style.
            .center{
                /* center the element */
                width: 25%;
                margin: auto
            }
            .button {
                background-color: #4CAF50; /* Green */
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 18px;
                -webkit-appearance: button;
                -moz-appearance: button;
            }
            .blank {
                min-height: 50px;
            }
    body
        p Hi
             strong  #{name}
             | ,
        p it's seem like you want to reset your password, follow this link or copy it into your browser : &nbsp;
        h4 LOGIN : #{name}
        a(class="center button" href="#{urlReset}") reset your password
        div(class="blank")
