div(class="alert col-lg-12 col-md-12 col-sm-12")
  div(class="header rowFlexContainer row")
    h3(data-i18n="" class="alertTitle col-lg-12 col-md-12 col-sm-12")
  div(class="body row centeredItems")
    span(class="alertMessage col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10")
  div(class="formBottomStyle bottom row")
    div(class="rowFlexContainer col-lg-12 col-md-12 col-sm-12")
      button(data-i18n="cancel" class="cancel myCustomButton col-lg-offset-4 col-lg-3 col-md-offset-4 col-md-3 col-sm-offset-4 col-sm-3")
      button(data-i18n="confirm" class="confirm myCustomButton col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-3 col-sm-offset-1 col-sm-3")
