div#selector.fixedFlexColumnContainer
  p#title Select card game
    div.list
      each cardGame,index in cardGames
        - var idCardGame = "cardGame" + index
        div.cardGame(id=idCardGame tabindex="0")
          i.logo.centeredImage
          p.name #{cardGame}
  div#control
    label#validateButtonLabel.centeredImage(for="validateButton")
    input#validateButton
    label#cancelButtonLabel.centeredImage(for="cancelButton")
    input#cancelButton
