<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Card game editor</title>
  </head>
  <body>
    <div id="sideNav" class="fixedFlexColumnContainer">
      <div id="logoEditor" class="flexRowContainer"><i id="logo" class="centeredImage"></i></div>
      <div id="cardGameName" class="flexColumnContainer">
        <p id="label">Card Game title</p>
        <input id="inputName" type="text">
      </div>
      <div id="cardActions" class="flexRowContainer"><i id="addCardButton" class="centeredImage"></i><i id="removeCardButton" class="centeredImage"></i></div>
      <div id="savingActions" class="flexColumnContainer">
        <div id="save" class="flexRowContainer"><i id="saveButton"></i>
          <p id="saveLabel">save</p>
        </div>
        <div id="saveAs" class="flexRowContainer"><i id="saveAsButton"></i>
          <p id="saveAsLabel">save as</p>
        </div>
      </div>
      <div id="sharingActions" class="flexRowContainer">
        <label id="exportToCSVLabel" for="exportToCSV" class="centeredImage"></label>
        <input id="exportToCSV">
        <label id="importToCSVLabel" for="importToCSV" class="centeredImage"></label>
        <input id="importToCSV" type="file" accept=".csv">
        <label id="exportToPdfLabel" for="exportToPDF" class="centeredImage"></label>
        <input id="exportToPdf" type="file">
      </div>
    </div>
    <!--TODO: include gui editor here-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script src="/js/uploadCSVEvent.js"></script>
    <script src="/js/downloadCSVEvent.js"></script>
  </body>
</html>