div#sideNav.fixedFlexColumnContainer
  div#logoEditor.flexRowContainer
    i#logo.centeredImage
  div#cardGameName.flexColumnContainer
    p#label Card Game title
    input#inputName(type="text")
  div#cardActions.flexRowContainer
    i#addCardButton.centeredImage
    i#removeCardButton.centeredImage
  div#savingActions.flexColumnContainer
    div#save.flexRowContainer
      i#saveButton
      p#saveLabel save
    div#saveAs.flexRowContainer
      i#saveAsButton
      p#saveAsLabel save as
  div#sharingActions.flexRowContainer
    label#exportToCSVLabel.centeredImage(for="exportToCSV")
    input#exportToCSV
    label#importToCSVLabel.centeredImage(for="importToCSV")
    input#importToCSV(type="file" accept=".csv")
    label#exportToPdfLabel.centeredImage(for="exportToPDF")
    input#exportToPdf(type="file")
    
