
/* My styles */

.myCustomTitle {
  font-family: "Trebuchet MS", "Myriad Pro", sans-serif;
	font-size: 1.2vw;
	font-weight: bold;
	text-align: center;
  text-shadow: 0 1px 0px;
}

.myCustomButton {
  background: #e3e3e3;
	border: 1px solid #ccc;
	color: #333;
	font-family: "Trebuchet MS", "Myriad Pro", sans-serif;
	font-size: 1.2vw;
	font-weight: bold;
	text-align: center;
	cursor:pointer;
	float:right;
	text-shadow: 0 1px 0px #fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0px 0px 2px #fff inset;
	-webkit-box-shadow: 0px 0px 2px #fff inset;
	box-shadow: 0px 0px 2px #fff inset;
}

.myCustomButton:hover {
  background: #d9d9d9;
	-moz-box-shadow: 0px 0px 2px #eaeaea inset;
	-webkit-box-shadow: 0px 0px 2px #eaeaea inset;
	box-shadow: 0px 0px 2px #eaeaea inset;
	color: #222;
}

.myCustomInput {
  border: solid 1px #E5E5E5;
	display:block;
  padding-left: 5px;
	font-size:1vw;
	background: #FFFFFF;
	background:
		-webkit-gradient(
			linear,
			left top,
			left 25,
			from(#FFFFFF),
			color-stop(4%, #EEEEEE),
			to(#FFFFFF)
		);
	background:
		-moz-linear-gradient(
			top,
			#FFFFFF,
			#EEEEEE 1px,
			#FFFFFF 25px
			);
	-moz-box-shadow: 0px 0px 8px #f0f0f0;
	-webkit-box-shadow: 0px 0px 8px #f0f0f0;
	box-shadow: 0px 0px 8px #f0f0f0;
}

.myCustomInput:focus {
  background:#feffef;
}

.formWrapperStyle {
  background:#fff;
	border:1px solid #ddd;
	margin:0 auto;
  font-size:16px;
	-moz-box-shadow:1px 1px 7px #ccc;
	-webkit-box-shadow:1px 1px 7px #ccc;
	box-shadow:1px 1px 7px #ccc;
}

.formBottomStyle {
  background-color:#444;
	border-top:1px solid #ddd;
	clear:both;
	color:#fff;
	text-shadow:1px 1px 1px #000;
}

/* Utils classes */

.rowFlexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centeredItems {
  display: flex;
  align-items: center;
}

.columnFlexContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stretchedImage {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
}

/* tables style */

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  table-layout: fixed;
}

table tr {
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
  cursor: pointer;
}

table tr.selected {
  background: #832821;
  border: 1px solid #ddd;
}

table th, table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}
