.wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper > div {
  background:#fff;
	border:1px solid #ddd;
	margin:0 auto;
  padding: 0;
  font-size:16px;
	-moz-box-shadow:1px 1px 7px #ccc;
	-webkit-box-shadow:1px 1px 7px #ccc;
	box-shadow:1px 1px 7px #ccc;
}

.serverList {
  height: 100%;
  padding: 0;
  border: 2px solid black;
}

.serverManager {
  height: 80%;
  display: none;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#444;
  border-bottom:1px solid #ddd;
}

.serverList > .header {
  height: 10%;
}

.serverManager > .header {
  height: 15%;
}

h3{
  margin: 0;
	color:#fff;
	font-size:25px;
}

.body {
  padding-top: 10px;
}

.serverList > .body {
  height: 80%;
}

.serverManager > .body {
  height: 70%;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  table-layout: fixed;
}

table tr {
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
  cursor: pointer;
}

table tr.selected {
  background: #832821;
  border: 1px solid #ddd;
}

table th, table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.serverManager > .body {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
}

.serverManager > .body > div {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.body > div > div > label {
  padding: 0;
  font-size: 16px;
}

.body > div > div > input {
  border: solid 1px #E5E5E5;
	padding: 9px;
	display: block;
	font-size:16px;
	background: #FFFFFF;
	background:
		-webkit-gradient(
			linear,
			left top,
			left 25,
			from(#FFFFFF),
			color-stop(4%, #EEEEEE),
			to(#FFFFFF)
		);
	background:
		-moz-linear-gradient(
			top,
			#FFFFFF,
			#EEEEEE 1px,
			#FFFFFF 25px
			);
	-moz-box-shadow: 0px 0px 8px #f0f0f0;
	-webkit-box-shadow: 0px 0px 8px #f0f0f0;
	box-shadow: 0px 0px 8px #f0f0f0;
}

.bottom {
  background-color:#444;
	border-top:1px solid #ddd;
	clear:both;
	color:#fff;
	text-shadow:1px 1px 1px #000;
}

.serverList > .bottom {
  height: 10%;
}

.serverManager > .bottom {
  height: 15%;
}

.bottom > div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom > div > button {
  height: 60%;
  background: #e3e3e3;
	border: 1px solid #ccc;
	color: #333;
	font-family: "Trebuchet MS", "Myriad Pro", sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	width: 150px;
	cursor:pointer;
	float:right;
	text-shadow: 0 1px 0px #fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0px 0px 2px #fff inset;
	-webkit-box-shadow: 0px 0px 2px #fff inset;
	box-shadow: 0px 0px 2px #fff inset;
}

.bottom > div > button:hover {
  background: #d9d9d9;
	-moz-box-shadow: 0px 0px 2px #eaeaea inset;
	-webkit-box-shadow: 0px 0px 2px #eaeaea inset;
	box-shadow: 0px 0px 2px #eaeaea inset;
	color: #222;
}
