#gameTab {
  height: 100%;
  padding: 0;
  -webkit-transition: width 1s, height 1s; /* Safari */
  transition: width 1s, height 1s;
}

#gameTab .header,
#gameTab .bottom {
	background-color: #CB1D1D;
	background: linear-gradient(#ff0000, #630000);

}

#gameTab > div {
  padding: 0;
}

#serverMsg {
  color: darkred;
  font-weight: bold;
  font-size: 1.5vw;
}

/* -------------------------------------------------------------------------- */
/* ---------------------------- SERVER MANAGER ------------------------------ */
/* -------------------------------------------------------------------------- */

#serverManager {
  height: 100%;
  display: none;
}

#serverManager > .header {
  height: 15%;
}

#serverManager > .body {
  height: 75%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
  overflow-y: auto;
}

#serverManager .basicSettings label,
#serverManager .timersSetings label,
#serverManager .advancedSettings label {
  padding: 0;
  font-size: 1vw;
}
#serverManager > .body input {
  text-align: center;
  font-size: 1vw;
}
#serverManager > .body span {
  font-size: 1vw;
}
#serverManager .settingCategory span {
  text-decoration: underline;
}

#serverManager > .body > :not(.settingCategory) {
  border-bottom: 2px solid black;
}
#serverManager .settingCategory {
  height: 10%;
  margin-top: 2%;
  margin-bottom: 3%;
  border-bottom: 2px solid black;
}
#serverManager .basicSettings,
#serverManager .cardgameSettings,
#serverManager .timersSetings,
#serverManager .advancedSettings {
  display: none;
}
#serverManager .basicSettings > div,
#serverManager .cardgameSettings > div,
#serverManager .timersSetings > div,
#serverManager .advancedSettings > div {
  margin-bottom: 2%;
}
#serverManager .basicSettings > div:last-child,
#serverManager .cardgameSettings > div:last-child,
#serverManager .timersSetings > div:last-child,
#serverManager .advancedSettings > div:last-child {
  margin-bottom: 3%;
}

#serverManager > .body > .settingCategory > :first-child {
  padding: 0;
  font-size: 1.3vw;
  font-weight: bold;
  color: black;
}
#serverManager > .body > .settingCategory > :nth-child(2) {
  font-size: 0.8vw;
  font-weight: bold;
  color: red;
}
#serverManager > .body > .settingCategory > button {
  height: 50%;
  padding: 0;
}
#serverManager > .body > .settingCategory > button[value="display"] {
  background-image: url('/img/mainPage/displayed.png');
}
#serverManager > .body > .settingCategory > button[value="hide"] {
  background-image: url('/img/mainPage/hidden.png');
}


#serverManager .cardgameSettings {
  height: 80%;
}
#serverManager .cardgameSettings > :first-child {
  height: 15%;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 2%;
  border: 2px solid black;
  box-shadow: 2px 0px 8px 0px;
}
#serverManager .cardgameSettings > :last-child {
  height: 83%;
  padding: 2%;
  overflow-y: auto;
}

#serverManager .cardgameSettings table {
  margin-bottom: 20px;
  box-shadow: 2px 2px 8px 0px;
}
#serverManager .cardgameSettings label {
  margin-bottom: 0;
}
#serverManager .cardgameSettings button.filter {
  height: 80%;
  font-size: 1vw;
  font-family: "Georgia", "Helvetica", "Times New Roman", sans-serif;
}
#serverManager .cardgameSettings select {
  display: block;
}
#serverManager .cardgameSettings button[type="button"] {
  padding: 1%;
  padding-left: 3%;
  padding-right: 5%;
  font-size: 1vw;
  font-family: "Georgia", "Helvetica", "Times New Roman", sans-serif;
}

#serverManager > .bottom {
  height: 10%;
}

.timersOption,
.forceTurnOption {
  display: none;
}

/* -------------------------------------------------------------------------- */
/* -------------------------- ALERT FORM ------------------------------------ */
/* -------------------------------------------------------------------------- */

#gameTab .alert {
  display: none;
  height: 100%;
  margin: 0;
}
