#gameTab {
  height: 100%;
  padding: 0;
}

#gameTab > div {
  padding: 0;
}

.serverList {
  height: 100%;
  padding: 0;
}

.serverManager {
  height: 100%;
  display: none;
}

.header {
  background-color:#444;
  border-bottom:1px solid #ddd;
}

.serverList > .header {
  height: 10%;
}

.serverManager > .header {
  height: 15%;
}

h3{
  margin: 0;
	color:#fff;
	font-size:25px;
}

.body {
  padding-top: 10px;
}

.serverList > .body {
  height: 80%;
}

.serverManager > .body {
  height: 70%;
}

.serverManager > .body {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
}

.serverManager > .body > div {
  height: 50%;
}

.body > div > :first-child {
  margin-bottom: 10px;
}

.body > div > div > span {
  font-size: 1vw;
  color: red;
  font-weight: bold;
}

.body > div > div > label {
  padding: 0;
  font-size: 1.1vw;
}

.serverList > .bottom {
  height: 10%;
}

.serverManager > .bottom {
  height: 15%;
}

.bottom > div {
  height: 100%;
}

.bottom > div > button {
  height: 60%;
	width: 150px;
}
