#gameTab {
  height: 100%;
  padding: 0;
  -webkit-transition: width 1s, height 1s; /* Safari */
  transition: width 1s, height 1s;
}

#gameTab .header,
#gameTab .bottom {
	background-color: #CB1D1D;
	background: linear-gradient(#ff0000, #630000);

}

#gameTab > div {
  padding: 0;
}

#serverMsg {
  color: darkred;
  font-weight: bold;
  font-size: 1.5vw;
}

#serverManager {
  height: 100%;
  display: none;
}

#serverManager > .header {
  height: 15%;
}

#serverManager > .body {
  height: 75%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
  overflow-y: auto;
}

#serverManager > .body > div {
  height: 12%;
  margin-bottom: 2%;
}
#serverManager > .body > div:nth-child(5) {
  height: 80%;
}
#serverManager > .body > div:nth-child(5) > :first-child {
  height: 15%;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 2%;
  border: 2px solid black;
  box-shadow: 2px 0px 8px 0px;
}
#serverManager > .body > div:nth-child(5) > :last-child {
  height: 83%;
  padding: 2%;
  overflow-y: auto;
}
#serverManager > .body > div:nth-child(5) table {
  margin-bottom: 20px;
  box-shadow: 2px 2px 8px 0px;
}
#serverManager > .body > div:nth-child(5) table th {
  font-size: 0.8vw;
}

#serverManager > .body > div:nth-child(5) label {
  margin-bottom: 0;
}
#serverManager > .body > div:nth-child(5) button.filter {
  height: 80%;
  font-size: 1vw;
  font-family: "Georgia", "Helvetica", "Times New Roman", sans-serif;
}
#serverManager > .body > div:nth-child(5) select {
  display: block;
}
#serverManager > .body > div:nth-child(5) button[type="button"] {
  padding: 1%;
  padding-left: 3%;
  padding-right: 5%;
  font-size: 1vw;
  font-family: "Georgia", "Helvetica", "Times New Roman", sans-serif;
}

#serverManager > .body > :nth-child(3),
#serverManager > .body > :nth-child(5),
#serverManager > .body > :nth-child(7),
#serverManager > .body > :nth-child(10) {
  border-bottom: 2px solid black;
}

#serverManager > .body > .settingClass {
  margin-bottom: 3%;
}

#serverManager > .body > .settingClass > :first-child {
  padding: 0;
  font-size: 1.5vw;
  font-weight: bold;
  color: black;
}
#serverManager > .body > .settingClass > :last-child {
  font-size: 1vw;
  font-weight: bold;
  color: red;
}

#serverManager > .body > div > label {
  padding: 0;
  font-size: 1.1vw;
}
#serverManager > .body > div > input {
  text-align: center;
}
#serverManager > .body > div > span {
  text-decoration: underline;
}

#serverManager > .bottom {
  height: 10%;
}

.timersOption,
.forceTurnOption {
  display: none;
}
