#historicTab {
  height: 100%;
  width: 100%;
  padding: 0;
  display: none;
  -webkit-transition: width 1s, height: 1s; /* Safari */
  transition: width 1s, height 1s;
}

#historicTab .header,
#historicTab .bottom {
  background-color: #035EFB;
  background: linear-gradient(#0000a2, #000038);
}

#historicTab > div {
  padding: 0;
}

/* -------------------------------------------------------------------------- */
/* --------------------------- PARTY SHEET PANEL ---------------------------- */
/* -------------------------------------------------------------------------- */

.partySheet {
  display: none;
}

.partySheet > .body {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
}

.gameInfo {
  height: 30%;
}

.gameInfo > div {
  height: 100%;
  padding: 0;
}

.aboutGame > div {
  height: 50%;
}

.aboutGame input {
  height: 60%;
}
.aboutGame label {
  padding: 0;
  font-size: 1.2vw;
}

.aboutPlayer > input {
  height: 35%;
}
.aboutPlayer > label {
  padding: 0;
  font-size: 1.2vw;
}

.playersProduction {
  height: 70%;
}

.playersProduction > div {
  height: 90%;
}

.partySheet .SWA_SVGContainer {
  padding: 0;
  border: 2px solid black;
}

.playersProduction .row {
  height: 95%;
  overflow-y: scroll;
}

input#partyDate {
    display: none;
}

/* -------------------------------------------------------------------------- */
/* ------------------------------- Tools ------------------------------------ */
/* -------------------------------------------------------------------------- */

#ruler {
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
  white-space: nowrap;
}
