.tabContent {
  height: 100%;
  padding: 0;
}

.header {
  height: 10%;
  background-color:#444;
  border-bottom:1px solid #ddd;
}

.body {
  padding-top: 10px;
  height: 80%;
  overflow-y: auto;
}

.bottom {
  height: 10%;
}

.bottom > div {
  height: 100%;
}

.bottom > div > button {
  height: 60%;
  padding: 0;
}

.bottom > div > div > button {
  height: 60%;
  padding: 0;
}

h3{
  margin: 0;
	color:#fff;
  font-family: "Trebuchet MS", "Myriad Pro", sans-serif;
	font-size: 2vw;
	font-weight: bold;
  text-shadow: 0 1px 0px;
}
