html, body {
  height: 100%;
  width: 100%;
}

body {
  background-image: url('/img/background1.svg');
  background-size:cover;
  background-position: center;
  background-clip: border-box;
  background-repeat: no-repeat;
  box-shadow: 2px 2px 16px 8px inset;
}

.form_wrapper{
  padding: 0;
	width: 20%;
  height: 50%;
  -webkit-transition: width 1s, height 1s; /* Safari */
  transition: width 1s, height 1s;
}

.form_wrapper h3{
  width: 100%;
  text-align: left;
  padding-left: 10%;
  margin: 0;
	color:#fff;
	font-size:2vw;
}

.form_wrapper > form {
  padding: 0;
  width:100%;
  height: 100%;
}

.row {
  margin: 0;
}

form.login{
  display: block;
}
form.register{
  display: none;
}
form.forgot_password{
  display: none;
}

form .formHeader {
  height: 15%;
  background-color:#444;
  border-bottom:1px solid #ddd;
}
form .formContent {
  padding-top: 5%;
  padding-bottom: 5%;
}

form.login .formContent  {
  height: 50%;
}
form.login >.formContent  > div {
  height: 50%;
}
form.login .bottom {
  height: 35%;
}

form.register .formContent  {
  height: 60%;
}
form.register .formContent  > div {
  height: 33%;
}
form.register .bottom {
  height: 25%;
}

form.forgot_password .formHeader {
  height: 25%;
}
form.forgot_password .formContent  {
  height: 35%;
}
form.forgot_password .formContent > div {
  height: 100%;
}
form.forgot_password .bottom {
  height: 40%;
}

span[class^="error"] {
  padding: 0;
  font-size: 0.8vw;
  color: red;
  font-weight: bold;
}

span.myTooltip {
  position: fixed;
  margin-left: 5px;
  font-size: 0.8vw;
  color: black;
  display: inline-block;
	padding: 2px 4px;
	border: 2px solid black;
	background-color: #BBE12E;
	border-radius: 4px;
  display: none;
  -moz-box-shadow: 4px 4px 6px grey;
	-webkit-box-shadow: 4px 4px 6px grey;
	box-shadow: 4px 4px 6px grey;
}

.form_wrapper .column{
	width:47%;
  margin-bottom: 3%;
	float:left;
}

.form_wrapper a{
	text-decoration:none;
	color:#777;
	font-size:12px;
}
.form_wrapper a:hover{
	color:#000;
}

.form_wrapper label{
  padding: 0;
  font-size: 1vw;
}

.form_wrapper input[type="text"],
.form_wrapper input[type="email"],
.form_wrapper input[type="password"]{
  height: 40%;
  font-size: 1vw;
}
.form_wrapper input[type="checkbox"] {
  margin-right: 5px;
  margin-top: 0;
}

.form_wrapper input.invalid:required:invalid, .form_wrapper input.invalid:invalid {
  border: 2px solid red;
}

.form_wrapper .bottom{
  padding: 5%;
}

.form_wrapper .bottom a{
	display:block;
	clear:both;
	text-align:right;
	color:#ffa800;
	text-shadow:1px 1px 1px #000;
  font-size: 0.7vw;
}

.form_wrapper input[type="submit"] {
  width: 50%;
  font-size: 1vw;
}

.bottom > :nth-child(1) {
  font-size: 0.8vw;
}


.login > .bottom > :nth-child(1) {
  height: 20%;
  margin-bottom: 3%;
}
.login > .bottom > :nth-child(2) {
  height: 30%;
  margin-bottom: 3%;
}
.login > .bottom > :nth-child(3) {
  height: 15%;
  margin-bottom: 3%;
}
.login > .bottom > :nth-child(4) {
  height: 15%;
}

.register > .bottom > :nth-child(1) {
  height: 20%;
  margin-bottom: 3%;
}
.register > .bottom > :nth-child(2) {
  height: 35%;
  margin-bottom: 5%;
}
.register > .bottom > :nth-child(3) {
  height: 20%;
}

.forgot_password > .bottom > :nth-child(1) {
  height: 35%;
  margin-bottom: 5%;
}
.forgot_password > .bottom > :nth-child(2) {
  height: 20%;
  margin-bottom: 3%;
}
.forgot_password > .bottom > :nth-child(3) {
  height: 20%;
}
