html, body {
  height: 100%;
  width: 100%;
}

.form_wrapper{
	width:350px;
}

.form_wrapper h3{
	padding:20px 30px 20px 30px;
  margin: 0;
	background-color:#444;
	color:#fff;
	font-size:25px;
	border-bottom:1px solid #ddd;
}

form.login{
	width:350px;
}
form.register{
	width:350px;
}
form.forgot_password{
	width:300px;
}

span[class^="error"] {
  margin-left: 10px;
  font-size: 12px;
  color: red;
  font-weight: bold;
}

.form_wrapper .column{
	width:47%;
  margin-bottom: 3%;
	float:left;
}

.form_wrapper a{
	text-decoration:none;
	color:#777;
	font-size:12px;
}
.form_wrapper a:hover{
	color:#000;
}

.form_wrapper label{
	display:block;
	padding:10px 30px 0px 30px;
	margin:10px 0px 0px 0px;
}

.form_wrapper input[type="text"],
.form_wrapper input[type="email"],
.form_wrapper input[type="password"]{
	margin: 5px 30px 0px 30px;
  width:76%;
  font-size: 20px;
}

.form_wrapper input.invalid:required:invalid, .form_wrapper input.invalid:invalid {
  border: 2px solid red;
}

.form_wrapper .bottom{
	margin-top:20px;
}

.form_wrapper .bottom a{
	display:block;
	clear:both;
	padding:10px 30px;
	text-align:right;
	color:#ffa800;
	text-shadow:1px 1px 1px #000;
}
.form_wrapper a.forgot{
	float:right;
	font-style:italic;
	line-height:24px;
	color:#ffa800;
	text-shadow:1px 1px 1px #fff;
}
.form_wrapper a.forgot:hover{
	color:#000;
}

.form_wrapper div.remember{
	float:left;
	width:140px;
	margin:20px 0px 20px 30px;
	font-size:11px;
}
.form_wrapper div.remember input{
	float:left;
	margin:2px 5px 0px 0px;
}

.form_wrapper input[type="submit"] {
  width: 150px;
  margin:15px 20px 10px 10px;
}
