
#form_wrapper {
  width: 25%;
  height: 50%;
}

.reset .formHeader {
  height: 20%;
}
.reset .formContent {
  height: 65%;
}
.reset .bottom {
  height: 25%;
}

.formContent > div {
  height: 50%;
}
/*
.formContent > div:last-child {
  height: 50%;
}

div.g-recaptcha {
  padding: 0;
}
div.g-recaptcha > div {
  height: 80% !important;
  width: 100% !important;
  -webkit-transform: scale(0.70);
}
*/
.reset .bottom div,
.reset .bottom input {
  height: 100%;
}
