div#gameBar > div > div:nth-child(6) > div > :first-child {
  height: 20%;
  border-bottom: 2px solid black;
  background-color: grey;
}

div#gameBar > div > div:nth-child(6) > div > :first-child > button {
  height: 80%;
  border: none;
  background-color: Transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

div#familyLogoDiv {
  padding: 0;
  height: 100%;
  display: none;
}

span#familyLogoText {
  padding: 0;
  font-size: 0.5vw;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  opacity: 0;
  transition: all 0.8s ease;

  background-color: lightgray;
  box-shadow: 0 0 5px 10px lightgray;

  /* corners */
  -moz-border-radius:10px 10px 10px 10px;  /* rounds corners for firefox */
  border-radius:10px 10px 10px 10px;  /* rounds corners for other browsers */
}

img#cardFamilyLogo {
  padding-top: 5px;
  padding-bottom: 5px;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-origin: content-box;
  transition: all 0.8s ease;
}

button#cardHelp {
  background-image: url("/img/gamerModule/infoSup.png");
}

div#gameBar > div > div:nth-child(6) > div > :last-child {
  height: 80%;
  padding: 0;
}

@keyframes textApparition {
  from {color: white;}
  to {color: black;}
}

p#cardContent{
  margin: auto;
  overflow: auto;
  font-size:0.8vw;
  font-family: courier, serif;
  text-align: center;
  animation-name: textApparition;
  animation-duration: 5s;
}
