div#gameBar > div > div:nth-child(6) > div > :first-child {
  height: 20%;
  border-bottom: 2px solid black;
  background-color: grey;
}

div#gameBar > div > div:nth-child(6) > div > :first-child > button {
  height: 80%;
  border: none;
  background-color: Transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

img#cardFamilyLogo {
  padding: 0px;
}

button#cardHelp {
  background-image: url("/img/gamerModule/infoSup.png");
}

div#gameBar > div > div:nth-child(6) > div > :last-child {
  height: 80%;
  padding: 0;
}
