
.contextMenu {
  display: none;
  position: absolute;
  z-index: 10;
  padding: 0;
  background-color: #fff;
  border: solid 1px #dfdfdf;
  box-shadow: 2px 2px 4px #cfcfcf;
}

.contextMenu > button {
  width: 100%;
  -moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

.contextMenu--active {
  display: block;
}

div#linkContextMenu {
  height: auto;
  width: 15%;
}

div#linkContextMenu > button.mainTool {
  display: block;
}

div#linkContextMenu > button.colorTool {
  display: none;
}
