.SWA_ContextualMenu {
  height: auto;
  width: 15%;
  height: 40%;
  display: none;
  position: absolute;
  z-index: 10;
  padding: 0;
  background-color: #fff;
  border: solid 1px #dfdfdf;
  box-shadow: 2px 2px 4px #cfcfcf;
}

.SWA_ContextualMenu--active {
  display: block;
}

.SWA_CtxtMenuColorTool {
  display: none;
  padding: 0;
  height: calc(100% / 7);
}
.SWA_CtxtMenuMainTool {
  display: block;
  padding: 0;
  height: calc(100% / 9);
}

.SWA_ContextualMenu > div {
  border-bottom: 1px solid black;
  border-bottom-style: dotted;
  padding: 2%;
}
.SWA_ContextualMenu > :last-child {
  border-bottom: none;
}

.SWA_ContextualMenu img, .SWA_ContextualMenu button {
  border: none;
  background-color: Transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.SWA_ContextualMenu img {
  padding: 0;
  padding-top: 1px;
  padding-bottom: 1px;
  height: 100%;
  background-size: contain;
}
.SWA_ContextualMenu button {
  height: 100%;
  background: #e3e3e3;
  color: #333;
  border: 1px solid #ccc;
  font-size: 1vw;
	font-weight: bold;
	text-align: center;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
