div#generalChannel:hover {
  background-color: grey;
}

div#playerPlayerChannel:hover {
  background-color: grey;
}

div#playerAnimatorChannel:hover {
  background-color: grey;
}

button:focus {
  outline: 0;
}

button#bouton[value="red"]:focus { background-image: url("/img/gamerModule/textIcons/textFocus_red.png");}
button#bouton[value="green"]:focus { background-image: url("/img/gamerModule/textIcons/textFocus_green.png");}
button#bouton[value="yellow"]:focus { background-image: url("/img/gamerModule/textIcons/textFocus_yellow.png");}
button#bouton[value="purple"]:focus { background-image: url("/img/gamerModule/textIcons/textFocus_purple.png");}
button#bouton[value="brown"]:focus { background-image: url("/img/gamerModule/textIcons/textFocus_brown.png");}
button#bouton[value="blue"]:focus { background-image: url("/img/gamerModule/textIcons/textFocus_blue.png");}
button#bouton[value="white"]:focus { background-image: url("/img/gamerModule/textIcons/textFocus_white.png");}

button#exit:hover {
  background-image: url('/img/gamerModule/exitOnHover.svg');
}

button#exit:active {
  background-image: url('/img/gamerModule/exitOnClick.svg');
}

button#sendButton:hover {
  background-image: url("/img/gamerModule/sendButtonOnHover.svg");
}

button#sendButton:active {
  background-image: url("/img/gamerModule/sendButtonOnClick.svg");
}

button#skipButton:hover {
  background-image: url("/img/gamerModule/skipButtonOnHover.svg");
}

button#skipButton:active {
  background-image: url("/img/gamerModule/skipButtonOnClick.svg");
}

button#clear:hover {
  background-image: url("/img/gamerModule/clearTextOnHover.png");
}

button#clear:active {
  background-image: url("/img/gamerModule/clearTextOnClick.png");
}

button#copy:hover {
  background-image: url("/img/gamerModule/copyTextOnHover.png");
}

button#copy:active {
  background-image: url("/img/gamerModule/copyTextOnClick.png");
}

button#undo:hover {
  background-image: url("/img/gamerModule/undoOnHover.png");
}

button#undo:active {
  background-image: url("/img/gamerModule/undoOnClick.png");
}

button#cardHelp:hover {
  background-image: url("/img/gamerModule/infoSupOnHover.png");
}

button#cardHelp:active {
  background-image: url("/img/gamerModule/infoSupOnClick.png");
}

div#familyLogoDiv:hover span{
  opacity: 1;
  font-size: 110%;
}

div#familyLogoDiv:hover img{
  -webkit-filter: grayscale(100%) blur(3px);
  filter: grayscale(100%) blur(3px);
}

#overlay:hover{
  opacity: 0.85;
}

foreignObject > textarea {
  outline: 0;
}
