div#generalChannel:hover {
  background-color: grey;
}

div#playerPlayerChannel:hover {
  background-color: grey;
}

div#playerAnimatorChannel:hover {
  background-color: grey;
}

button:focus {
  outline: 0;
}

button#exit:hover {
  background-color: darkgrey;
}

button#sendButton:hover {
  background-color: green;
}

button#skipButton:hover {
  background-image: url("/img/gamerModule/skipButtonOnHover.svg");
}

button#skipButton:active {
  background-image: url("/img/gamerModule/skipButtonOnClick.svg");
}

button#clear:hover {
  background-image: url("/img/gamerModule/clearTextOnHover.png");
}

button#clear:active {
  background-image: url("/img/gamerModule/clearTextOnClick.png");
}

button#copy:hover {
  background-image: url("/img/gamerModule/copyTextOnHover.png");
}

button#copy:active {
  background-image: url("/img/gamerModule/copyTextOnClick.png");
}

button#undo:hover {
  background-image: url("/img/gamerModule/undoOnHover.png");
}

button#undo:active {
  background-image: url("/img/gamerModule/undoOnClick.png");
}

button#cardHelp:hover {
  background-image: url("/img/gamerModule/infoSupOnHover.png");
}

button#cardHelp:active {
  background-image: url("/img/gamerModule/infoSupOnClick.png");
}

div#familyLogoDiv:hover span{
  opacity: 1;
  font-size: 110%;
}

div#familyLogoDiv:hover img{
  -webkit-filter: grayscale(100%) blur(3px);
  filter: grayscale(100%) blur(3px);
}

foreignObject > textarea {
  outline: 0;
}
