
div#exitPanel .gamePanelHeader {
  height: 28%;
}

div#exitPanel .gamePanelBody {
  height: 45%;
}
div#exitPanel .gamePanelBody > div {
  height: 80%;
  padding: 0;
}

div#exitPanel .gamePanelInfo {
  height: 7%;
}

div#exitPanel .gamePanelBottom {
  height: 20%;
}

div#exitPanel .gamePanelBottom button {
  height: 40%;
}

.playerDisplayer {
  margin-left: 20px;
}

button#validateExit,
button#cancelExit {
  display: none;
}
