div#gameBar {
  height: 100%;
  padding: 0;
  border: 2px solid black;
  overflow-y: auto;
  background: linear-gradient(grey, #1B1919);
}

div#gameBar > div {
  height: 100%;
  padding-bottom: 5%;
  padding-left: 0;
  padding-right: 0;
}

div.fieldLabel {
  margin-top: 1%;
  margin-bottom: 1%;
  color: black;
  font-size: 1.8vw;
  font-family: "Georgia", "Helvetica", "Times New Roman", sans-serif;
}

div.box {
  height: 100%;
  padding: 0;
  border: 2px solid black;
  box-shadow: 6px 6px 8px grey;
  -moz-box-shadow: 6px 6px 8px grey;
	-webkit-box-shadow: 6px 6px 8px grey;
  background-color: white;
}

div.box > span {
  font-size: 1vw;
  font-family: "Georgia", "Helvetica", "Times New Roman", sans-serif;
  cursor: text;
}

div.row {
  margin: 0;
}

div#gameBar > div > div:nth-child(2) {
  height: 5%;
}

div#gameBar > div > div:nth-child(4) {
  height: 10%;
}
#playerQuestion {
  height: 100%;
  padding: 3px;
}
#playerQuestion > div {
  height: 100%;
  overflow-y: auto;
  padding: 0;
}
#playerQuestion span {
  font-size: 0.9vw;
}

div#gameBar > div > div:nth-child(6) {
  height: 35%;
}

div#gameBar > div > div:nth-child(7) {
  margin-top: 8%;
  height: 28%;
}

div#gameBar > div > div:nth-child(7) > div.box > div.row:first-child {
  height: 80%;
}

div#gameBar > div > div:nth-child(7) > div.box > div.row:last-child {
  height: 20%;
}

div#gameBar > div > div:nth-child(7) > div.box > div.row:first-child > button {
  height: 70%;
  display: none;
  position: absolute;
  background-image: url('/img/gamerModule/dice.png');
}

div#gameBar > div > div:nth-child(7) > div.box > div.row:first-child > svg {
  height: 100%;
  width: 100%;
  padding: 0;
}

div#gameBar > div > div:nth-child(7) > div.box > div.row:last-child > button {
  height: 75%;
}

.nextPlayerDeactivate {
  opacity: 0.4;
  pointer-events: none;
  cursor: default;
}

@-webkit-keyframes rollTheDice {
  0%{stroke: #FF0303;}
  25%{stroke:#AF0000;}
  50%{stroke:#6E0000;}
  75%{stroke:#AF0000;}
  100%{stroke:#FF0300;}
}
@-moz-keyframes rollTheDice {
  0%{stroke: #FF0303;}
  25%{stroke:#AF0000;}
  50%{stroke:#6E0000;}
  75%{stroke:#AF0000;}
  100%{stroke:#FF0303;}
}
@keyframes rollTheDice {
  0%{stroke: #FF0303;}
  25%{stroke:#AF0000;}
  50%{stroke:#6E0000;}
  75%{stroke:#AF0000;}
  100%{stroke:#FF0303;}
}

.rollTheDice {
  -webkit-animation-name: rollTheDice;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  -moz-animation-name: rollTheDice;
  -moz-animation-duration: 4s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;

  animation-name: rollTheDice;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
