body, html {
  height: 100%;
  width: 100%;
}

body {
  /*padding: 5px;*/
}

button {
  border: none;
  background-color: Transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* police parameters */
.fieldLabel {
  font-size: 24px;
  font-weight: bold;
  font-family: fantasy;
  padding: 0;
}

.basicContainer {
  height: 100%;
  padding: 0;
  margin: 0;
}

.bordered {
  border: 2px solid black;
}

#gameContent {
  height: 100%;
  width: 100%;
  padding: 5px;
  display: none; /* <------ invisible */
}

#gamePanel {
  height: 100%;
}

/* ****************************** */

#gamePanel > div {
  margin: 0;
  padding: 0;
  border-bottom: 2px solid black;
}

#gamePanel > :nth-child(1) {
  height: 5%;
}

#gamePanel > :nth-child(2) {
  height: 70%;
  /*display: none;*/
}

div#chatInfos {
  height: 25%;
  border: none;
}

/* ****************************** */

#gamePanel > :nth-child(1) > :nth-child(1),
#gamePanel > :nth-child(1) > :nth-child(2n) {
  border-right: 2px solid black;
}

#gamePanel > :nth-child(1) > :nth-child(1) {
  background-image: url('/img/gamerModule/exit.svg');
}

#gamePanel > :nth-child(1) > :nth-child(2) {
  background-image: url('/img/gamerModule/player.svg');
}

#gamePanel > :nth-child(1) > div > span {
  font-size: 1.2vw;
  font-family: fantasy sans-serif;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  max-height: inherit;
  line-height: 1.4vw;
}

#gamePanel > :nth-child(1) > :nth-child(4) {
  border-left: 2px solid black;
  background-image: url('/img/gamerModule/question.svg');
}


/* ****************************** */

#productionList {
  border-right: 2px solid black;
  background-color: lightgrey;
  display: block;
}

#productionList > div {
  border-bottom: 2px solid black;
}

#productionList > :nth-child(1),
#productionList > :nth-child(2) {
  height: 5%;
}

#productionList > :nth-child(1) {
  background-color: grey;
}

#productionList > :nth-child(2) {
  display: flex;
  align-items: center;
}

#productionList > :nth-child(3) {
  height: 10%;
  background-color: grey;
}

#productionList > :nth-child(3) > p,
button#getMyProduction,
#productionList > :nth-child(4) > button {
  width: 100%;
  font-size: 0.7vw;
  font-weight: bold;
}

#productionList > :nth-child(4) {
  height: 80%;
  overflow-y: auto;
}

#productionList > :nth-child(4) > button {
  height: 10%;
}

button.selectedProduction {
  background-color: #929AA2;
}

button#setPrivacy {
  background-image: url("/img/gamerModule/private.svg");
}

#gamePanel > :nth-child(2) > :first-child > :nth-child(3) > p {
  margin: 0;
  padding: 0;
  text-align: center;
}

div#productionArea {
  display: flex;
  justify-content: flex-start;
}

div#productionArea > button#displayList {
  width: 1%;
  border-right: 1px solid black;
  background-color: grey;
  background-image: url("/img/gamerModule/hide.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

div#colorMenu {
  display: none;
  background-color: grey;
}

div#svgMenu {
  display: block;
}

div.menu {
  width: 7%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-right: 2px solid black;
  background-color: lightgrey;
}

div.menu > button {
  height: 10%;
  padding: 0;
}

div#svgMenu > button {
  margin-bottom: 15px;
}

button#bouton { background-image: url("/img/gamerModule/text.png"); }
div#colorMenu > button[value="red"] { background-image: url("/img/gamerModule/red.jpg"); }
div#colorMenu > button[value="green"] { background-image: url("/img/gamerModule/green.jpg"); }
div#colorMenu > button[value="yellow"] { background-image: url("/img/gamerModule/yellow.jpg"); }
div#colorMenu > button[value="blue"] { background-image: url("/img/gamerModule/blue.jpg"); }
div#colorMenu > button[value="white"] { background-image: url("/img/gamerModule/white.jpg"); }
div#colorMenu > button[value="purple"] { background-image: url("/img/gamerModule/purple.jpg"); }
div#colorMenu > button[value="brown"] { background-image: url("/img/gamerModule/brown.jpg"); }

div#svgMenu > button[value="red"] { background-image: url("/img/gamerModule/redPencil.png"); }
div#svgMenu > button[value="green"] { background-image: url("/img/gamerModule/greenPencil.png"); }
div#svgMenu > button[value="yellow"] { background-image: url("/img/gamerModule/yellowPencil.png"); }
div#svgMenu > button[value="blue"] { background-image: url("/img/gamerModule/bluePencil.png"); }
div#svgMenu > button[value="white"] { background-image: url("/img/gamerModule/whitePencil.png"); }
div#svgMenu > button[value="purple"] { background-image: url("/img/gamerModule/purplePencil.png"); }
div#svgMenu > button[value="brown"] { background-image: url("/img/gamerModule/brownPencil.png"); }

div#svgMenu > button#moveElement { background-image: url("/img/gamerModule/move.png"); }
div#svgMenu > button#fullScreen { background-image: url("/img/gamerModule/fullscreen.png"); }

div#production {
  width: 92%;
  overflow: hidden;
}

/* ****************************** */

#chatInfos > :first-child {
  border-right: 2px solid black;
}

#chatInfos > :first-child > div {
  padding: 0;
}

#chatInfos > :first-child > :first-child {
  height: 88%;
  border-bottom: 2px solid black;
}

#chatInfos > :first-child > :last-child {
  height: 12%;
}

section#messages {
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  word-wrap: break-word;
}

input#inputBox {
  border: none;
  padding-left: 5px;
  padding-right: 5px;
}

select#chatPlayers {
  height: 100%;
  padding-left: 0;
  font-size: 1vw;
  background-color: Transparent;
  border-left: 2px solid black;
}

button#sendButton {
  border-left: 2px solid black;
  background-image: url("/img/gamerModule/sendButton.svg");
}

textarea#notesArea {
  height: 100%;
  resize: none;
}

div#menu {
  border-left: 1px solid black;
  justify-content: flex-start;
}

button.notesTool {
  height: 20%;
  width: 100%;
  margin-bottom: 20%;
}

button#copy {
  margin-top: 10%;
  background-image: url("/img/gamerModule/copyText.png");
}

button#clear {
  background-image: url("/img/gamerModule/clearText.png");
}

button#undo {
  background-image: url("/img/gamerModule/undo.png");
}

/* Classes used with the svg */

.foreign {
  text-align: left;
}

.insideforeign {
  display: inline-block;
}

.myTextArea {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  overflow: auto;

  display: flex; "fit the textarea inside a div
  pointer-events: none; "fix a chrome bug
}

#ruler {
  visibility: hidden;
  white-space: nowrap;
}
