div#gameBar {
  height: 100%;
  padding: 0;
  border: 2px solid black;
  overflow-y: scroll;
  background-color: lightgrey;
}

div#gameBar > div {
  height: 100%;
  padding-bottom: 5%;
  padding-left: 0;
  padding-right: 0;
}

div.fieldLabel {
  margin-top: 2%;
  margin-bottom: 2%;
  color: black;
  font-size: 1.8vw;
}

div.box {
  height: 100%;
  padding: 0;
  border: 2px solid black;
  box-shadow: 6px 6px 8px grey;
  background-color: white;
}

div.box > span {
  font-size: 1vw;
  font-family: "Trebuchet MS", "Myriad Pro", sans-serif;
}

div.row {
  margin: 0;
}

div#gameBar > div > div:nth-child(2),
div#gameBar > div > div:nth-child(8) {
  height: 5%;
}

div#gameBar > div > div:nth-child(4) {
  height: 10%;
}

div#gameBar > div > div:nth-child(6) {
  height: 35%;
}

div#gameBar > div > div:nth-child(8) > div {
  margin-bottom: 5%;
}

div#gameBar > div > div:nth-child(8) > div > div {
  height: 100%;
  padding: 0;
}

button#skipButton {
  height: 100%;
  padding: 0;
  background-image: url("/img/gamerModule/skipButton.svg");
}

/* screen size lower than 800px, reduce space between components to
     gain missing space */
@media screen and (max-height: 700px) {
  div#gameBar > div > div:nth-child(9) {
    height: 12%;
  }
}

/* screen size upper than 800px, possible to increase space between
     components to improved the readability */
@media screen and (min-height: 700px) {
  div#gameBar > div > div:nth-child(9) {
    height: 15%;
  }
}
