div#gameBar {
  height: 100%;
  padding: 0;
  border: 2px solid black;
  overflow-y: scroll;
  background-color: lightgrey;
}

div#gameBar > div {
  height: 100%;
  padding-bottom: 5%;
  padding-left: 0;
  padding-right: 0;
}

div.fieldLabel {
  margin-top: 1%;
  margin-bottom: 1%;
  color: black;
  font-size: 1.8vw;
  font-family: "Trebuchet MS", "Myriad Pro", sans-serif;
}

div.box {
  height: 100%;
  padding: 0;
  border: 2px solid black;
  box-shadow: 6px 6px 8px grey;
  background-color: white;
}

div.box > span {
  font-size: 1vw;
  font-family: "Trebuchet MS", "Myriad Pro", sans-serif;
}

div.row {
  margin: 0;
}

div#gameBar > div > div:nth-child(4) {
  height: 10%;
}

div#gameBar > div > div:nth-child(6) {
  height: 35%;
}

div#gameBar > div > div:nth-child(2) {
  height: 5%;
}

div#gameBar > div > div:nth-child(7) {
  margin-top: 8%;
  height: 28%;
}

div#gameBar > div > div:nth-child(7) > div.box > div.row:first-child {
  height: 80%;
}

div#gameBar > div > div:nth-child(7) > div.box > div.row:last-child {
  height: 20%;
}

div#gameBar > div > div:nth-child(7) > div.box > div.row:first-child > button {
  height: 70%;
  display: none;
  position: absolute;
  background-image: url('/img/gamerModule/dice.png');
}

div#gameBar > div > div:nth-child(7) > div.box > div.row:first-child > svg {
  height: 100%;
  width: 100%;
  padding: 0;
}

div#gameBar > div > div:nth-child(7) > div.box > div.row:last-child > button {
  height: 75%;
}
