@import 'playerProductionPanel.css';

body, html {
  height: 100%;
  width: 100%;
}

button {
  border: none;
  background-color: Transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.basicContainer {
  height: 100%;
  padding: 0;
  margin: 0;
}

.bordered {
  border: 2px solid black;
}

#gameContent {
  height: 100%;
  width: 100%;
  padding: 5px;
  display: none; /* <------ invisible */
}

#gamePanel {
  height: 100%;
}

/* -------------------------------------------------------------------------- */
/* ----------------------- Size of main blocs ------------------------------- */
/* -------------------------------------------------------------------------- */

#gamePanel > div {
  margin: 0;
  padding: 0;
  border-bottom: 2px solid black;
}

#gamePanel > :nth-child(1) {
  height: 5%;
}

#gamePanel > :nth-child(2) {
  height: 70%;
}

/* The exit panel bloc is defined in the exitPanelStyle.css file */

div#chatInfos {
  height: 25%;
  border: none;
}

/* -------------------------------------------------------------------------- */
/* -------------------------- Fist bloc style ------------------------------- */
/* -------------------------------------------------------------------------- */

@-webkit-keyframes timeover {
  0%{background-color: #FF0303;}
  25%{background-color:#AF0000;}
  50%{background-color:#6E0000;}
  75%{background-color:#AF0000;}
  100%{background-color:#FF0300;}
}
@-moz-keyframes timeover {
  0%{background-color: #FF0303;}
  25%{background-color:#AF0000;}
  50%{background-color:#6E0000;}
  75%{background-color:#AF0000;}
  100%{background-color:#FF0303;}
}
@keyframes timeover {
  0%{background-color: #FF0303;}
  25%{background-color:#AF0000;}
  50%{background-color:#6E0000;}
  75%{background-color:#AF0000;}
  100%{background-color:#FF0303;}
}

.timeover {
  -webkit-animation-name: timeover;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

  -moz-animation-name: timeover;
  -moz-animation-duration: 4s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;

  animation-name: timeover;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#gamePanel > :nth-child(1) > * {
  border-left: 2px solid black;
}

#gamePanel > :nth-child(1) > :first-child {
  border-left: none;
}

button#exit {
  background-color: grey;
}
.pseudoField, .globalTimerField, .questionField {
    background-color: darkgreen;
}
.pseudoField > span, .globalTimerField > span, .questionField > span, button#exit {
  font-size: 1vw;
  font-weight: bold;
  color: black;
  font-family: "Georgia", "Helvetica", "Times New Roman", sans-serif;
}

#gamePanel #question > div {
  height: 100%;
  padding: 3px;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: auto;
  display: flex;
  align-items: center;
}

#gamePanel > :nth-child(1) span {
  font-size: 1vw;
  font-family: "Georgia", "Helvetica", "Times New Roman", sans-serif;
  color: black;
}
#gamePanel #question span {
  padding-bottom: 3px;
  font-size: 0.8vw;
  position: inherit;
  top: 0;
  left: 0;
  cursor: text;
}

/* -------------------------------------------------------------------------- */
/* ------------------------- Second bloc style ------------------------------ */
/* -------------------------------------------------------------------------- */

/* This bloc is defined in the playerProductionPanel.css file */

/* -------------------------------------------------------------------------- */
/* ------------------------- Fourth bloc style ------------------------------ */
/* -------------------------------------------------------------------------- */

#chatInfos > :first-child {
  border-right: 2px solid black;
}

#chatInfos > :first-child > div {
  padding: 0;
}

#chatInfos > :first-child > :first-child {
  height: 88%;
  border-bottom: 2px solid black;
}

#chatInfos > :first-child > :last-child {
  height: 12%;
}

section#messages {
  padding-left: 5px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  word-wrap: break-word;
}

input#inputBox {
  border: none;
  padding-left: 5px;
  padding-right: 5px;
}

select#chatPlayers {
  height: 100%;
  padding-left: 0;
  font-size: 1vw;
  background-color: Transparent;
  border-left: 2px solid black;
}

button#sendButton {
  border-left: 2px solid black;
  background-image: url("/img/gamerModule/sendButton.svg");
}

textarea#notesArea {
  height: 100%;
  resize: none;
}

div#menu {
  border-left: 1px solid black;
  justify-content: flex-start;
  background: linear-gradient(grey , darkgrey);
}

button.notesTool {
  height: 20%;
  width: 100%;
  margin-bottom: 20%;
}

button#copy {
  margin-top: 10%;
  background-image: url("/img/gamerModule/copyText.png");
}

button#clear {
  background-image: url("/img/gamerModule/clearText.png");
  background-size: contain;
  background-origin: content-box;
}

/* -------------------------------------------------------------------------- */
/* ------------------------ SVG style classes ------------------------------- */
/* -------------------------------------------------------------------------- */

.foreign {
  text-align: left;
}

.insideforeign {
  display: inline-block;
}

.myTextArea {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  overflow: auto;

  display: flex; "fit the textarea inside a div
  pointer-events: none; "fix a chrome bug
}

/* -------------------------------------------------------------------------- */
/* ------------------------------- Tools ------------------------------------ */
/* -------------------------------------------------------------------------- */

#ruler {
  visibility: hidden;
  white-space: nowrap;
}
