.basicContainer {
  height: 100%;
  padding: 0;
  margin: 0;
}

.bordered {
  border: 2px solid black;
}

.playerDisplayer {
  height: 100%;
  padding: 0;
  max-width: 150px;
  border: 3px solid #A4051A;
}

.playerDisplayer > div:first-child {
  height: 80%;
  border-bottom: 3px solid #A4051A;
}

.playerDisplayer > div:first-child > img {
  height: 100%;
  padding: 0;
  border: none;
  background-image: url('/img/gamerModule/defaultProfileImage.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.playerDisplayer > div:last-child {
  height: 20%;
}

.playerDisplayer > div:last-child > div {
  height: 100%;
  background-color: #e3e3e3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playerDisplayer > div:last-child > div > span{
  text-align: center;
  font-size: 1vw;
  font-weight: bold;
  font-family: "Georgia", "Helvetica", "Times New Roman", sans-serif;
}

.familyDisplayer {
  height: 90%;
}
.familyDisplayer > :first-child {
  height: 70%;
}
.familyDisplayer > :last-child {
  height: 30%;
}

.gamePanel {
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  display: none; /* <------ invisible */
}

.gamePanelHeader span {
  font-size: 3vw;
  font-weight: bold;
  font-family: arial sans-serif;
  color: black;
}

.gamePanelBody {
  overflow-x: scroll;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: black;
}

.gamePanelInfo span {
  font-size: 1.5vw;
  font-family: arial sans-serif;
  color: black;
}
