textarea.legend{
  text-align: center;
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
  color: rgb(255, 247, 251);
  overflow: auto;
  background-color: transparent;
}

h4.legend{  /* use to give advice about the legend */
  text-align: center;
  margin: 10%;
}

#overlay {
  position: fixed;
  /*display: none; /* Should be hidden by default */
  width: 20%;
  min-width: 20%;
  height: 12%;
  min-height: 12%;
  top: 60%;
  left: 60%;
  background-color: rgb(0, 0, 0);
  opacity: 0.5;
  z-index: 2;
}
#overlay:hover{
  opacity: 0.85;
}
#overlayContent {
  height: 100%;
  overflow-y: auto;
  background-color: rgb(0, 0, 0);
}
#overlay svg {
  max-width: 70px;
}
#overlay textarea {
  font-size: 0.9vw;
  color: white;
  font-family: arial;
  text-align: left;
}
