div#mosaic {
  width: 99%;
  overflow: hidden;
  color: black;
  background-color: darkgrey;
  overflow-y: auto;
}

div#mosaic > div {
  border-bottom: 2px solid black;
  display: flex;
}

div#mosaic > div > div {
  display: flex;
  background-color: white;
}

div#mosaic > div > :first-child {
  border-right: 2px solid black;
}

div#mosaic > div > div > svg {
  width: 90%;
  height: 100%;
}

div#mosaic > div > div > div {
  width: 10%;
  height: 100%;
  border-right: 2px solid black;
  background-color: lightgrey;
}

div#mosaic > div > div > div > div {
  height: 70%;
  width: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

div#mosaic > div > div > div > div > span {
  height: 100%;
  width: 100%;
  font-size: 1.5vw;
}
