@import 'verticalText.css';

#productionPanel {
  display: block;
}

#productionPanel > :first-child {
  border-right: 2px solid black;
  background: linear-gradient(to right, grey , #1B1919);
  display: block;
}

#productionPanel > :first-child > :nth-child(1),
#productionPanel > :first-child > :nth-child(2) {
  height: 5%;
  border-bottom: 2px solid black;
}

#productionPanel > :first-child > :nth-child(1) {
  background-color: grey;
}

#productionPanel > :first-child > :nth-child(1) > div {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

#productionPanel > :first-child > :nth-child(1) > div > span {
  width: 100%;
  font-size: 0.8vw;
  font-weight: bold;
  color: black;
  text-align: center;
}

button#setPrivacy {
  background-image: url("/img/gamerModule/private.svg");
}

#productionPanel > :first-child > :nth-child(3) {
  height: 10%;
  border-bottom: 2px solid black;
  background-color: grey;
}

#productionPanel > :first-child > :nth-child(3) {
  width: 100%;
  font-size: 0.7vw;
  font-weight: bold;
}

#productionPanel > :first-child > :nth-child(3) > p {
  margin: 0;
  padding: 0;
  color: black;
  font-size: 1vw;
  text-align: center;
}

#productionList {
  height: 80%;
  border: none;
  overflow-y: auto;
}

#productionList > div {
  height: 10%;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
  cursor: pointer;
}

.currentPlayer {
  background-color: #1269E6;
}

.nextPlayer {
  background-color: #0AA6E1;
}

#productionList img {
  width: 30%;
  padding-bottom: 5%;
}

#productionList span {
  width: 70%;
  font-size: 0.8vw;
  font-weight: bold;
  text-align: center;
  text-overflow: ellipsis;
  color: black;
}

div.selectedProduction > span {
  text-decoration: underline;
  text-decoration-style: double;
  text-decoration-color: black;
  font-style: italic;
}

#divProduction {
  display: flex;
  justify-content: flex-start;
}

button#displayList {
  width: 1%;
  border-right: 1px solid black;
  background-color: grey;
  background-image: url("/img/gamerModule/hide.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

div#production {
  width: 92%;
  overflow: hidden;
}

button#wizz {
  width: 30%;
  height: 8%;
  top: 80%;
  left: 35%;
  font-size: 1vw;
  float: none;
  display: none;
}
