@import 'verticalText.css';

#productionPanel {
  display: block;
}

#productionPanel > :first-child {
  border-right: 2px solid black;
  background: linear-gradient(to right, grey , #1B1919);
  display: block;
}

#productionPanel > :first-child > :nth-child(1),
#productionPanel > :first-child > :nth-child(2) {
  height: 5%;
  border-bottom: 2px solid black;
}

#productionPanel > :first-child > :nth-child(1) {
  background-color: grey;
}

#productionPanel > :first-child > :nth-child(1) > div {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

#productionPanel > :first-child > :nth-child(1) > div > span {
  width: 100%;
  font-size: 0.8vw;
  font-weight: bold;
  color: black;
  text-align: center;
}

#productionPanel > :first-child > :nth-child(2) {
  display: flex;
  align-items: center;
}

button#setPrivacy {
  background-image: url("/img/gamerModule/private.svg");
}

#productionPanel > :first-child > :nth-child(3) {
  height: 10%;
  border-bottom: 2px solid black;
  background-color: grey;
}

#productionPanel > :first-child > :nth-child(3) {
  width: 100%;
  font-size: 0.7vw;
  font-weight: bold;
}

#productionPanel > :first-child > :nth-child(3) > p {
  margin: 0;
  padding: 0;
  color: black;
  font-size: 1vw;
  text-align: center;
}

#productionPanel > :first-child > :nth-child(4) {
  height: 80%;
  border: none;
  overflow-y: auto;
}

#productionPanel > :first-child > :nth-child(4) > div {
  height: 10%;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
  cursor: pointer;
}

#productionPanel > :first-child > :nth-child(1) > div.currentPlayer,
#productionPanel > :first-child > :nth-child(4) > div.currentPlayer {
  background-color: #1269E6;
}

#productionPanel > :first-child > :nth-child(1) > div.nextPlayer,
#productionPanel > :first-child > :nth-child(4) > div.nextPlayer {
  background-color: #0AA6E1;
}

#productionPanel > :first-child > :nth-child(4) > div > img {
  width: 30%;
  padding-bottom: 5%;
}

#productionPanel > :first-child > :nth-child(4) > div > span {
  width: 70%;
  font-size: 0.8vw;
  font-weight: bold;
  text-align: center;
  text-overflow: ellipsis;
  color: black;
}

#productionPanel > :first-child > :nth-child(4) > div.selectedProduction > span,
#productionPanel > :first-child > :nth-child(1) > div.selectedProduction > span {
  text-decoration: underline;
  text-decoration-style: double;
  text-decoration-color: black;
  font-style: italic;
}

#divProduction {
  display: flex;
  justify-content: flex-start;
}

#divProduction > button#displayList {
  width: 1%;
  border-right: 1px solid black;
  background-color: grey;
  background-image: url("/img/gamerModule/hide.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

textarea.legend{
  text-align: center;
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
  color: rgb(255, 247, 251);
  overflow: auto;
  background-color: transparent;
}

h4.legend{  /* use to give advice about the legend */
  text-align: center;
  margin: 10%;
}

#overlay {
  position: fixed;
  /*display: none; /* Should be hidden by default */
  width: 20%;
  height: 12%;
  top: 60%;
  left: 60%;
  background-color: rgb(0, 0, 0);
  opacity: 0.5;
  z-index: 2;
  overflow: hidden;
}

div#colorMenu {
  display: none;
  background-color: grey;
}

div#svgMenu {
  display: block;
}

div.menu {
  width: 7%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-right: 2px solid black;
  background: linear-gradient(to left, grey , #1B1919);
}

div.menu > button {
  height: 10%;
  padding: 0;
}

div#svgMenu > button {
  margin-bottom: 15px;
}

div#colorMenu > button[value="red"] { background-image: url("/img/gamerModule/red.jpg"); }
div#colorMenu > button[value="green"] { background-image: url("/img/gamerModule/green.jpg"); }
div#colorMenu > button[value="yellow"] { background-image: url("/img/gamerModule/yellow.jpg"); }
div#colorMenu > button[value="blue"] { background-image: url("/img/gamerModule/blue.jpg"); }
div#colorMenu > button[value="white"] { background-image: url("/img/gamerModule/white.jpg"); }
div#colorMenu > button[value="purple"] { background-image: url("/img/gamerModule/purple.jpg"); }
div#colorMenu > button[value="brown"] { background-image: url("/img/gamerModule/brown.jpg"); }

button#bouton[value="red"] { background-image: url("/img/gamerModule/textIcons/text_red.png");}
button#bouton[value="green"] { background-image: url("/img/gamerModule/textIcons/text_green.png");}
button#bouton[value="yellow"] { background-image: url("/img/gamerModule/textIcons/text_yellow.png");}
button#bouton[value="purple"] { background-image: url("/img/gamerModule/textIcons/text_purple.png");}
button#bouton[value="brown"] { background-image: url("/img/gamerModule/textIcons/text_brown.png");}
button#bouton[value="blue"] { background-image: url("/img/gamerModule/textIcons/text_blue.png");}
button#bouton[value="white"] { background-image: url("/img/gamerModule/textIcons/text_white.png");}

div#svgMenu > button#color[value="red"] { background-image: url("/img/gamerModule/redPencil.png"); }
div#svgMenu > button#color[value="green"] { background-image: url("/img/gamerModule/greenPencil.png"); }
div#svgMenu > button#color[value="yellow"] { background-image: url("/img/gamerModule/yellowPencil.png"); }
div#svgMenu > button#color[value="blue"] { background-image: url("/img/gamerModule/bluePencil.png"); }
div#svgMenu > button#color[value="white"] { background-image: url("/img/gamerModule/whitePencil.png"); }
div#svgMenu > button#color[value="purple"] { background-image: url("/img/gamerModule/purplePencil.png"); }
div#svgMenu > button#color[value="brown"] { background-image: url("/img/gamerModule/brownPencil.png"); }

div#svgMenu > button#moveElement { background-image: url("/img/gamerModule/move.png"); }
div#svgMenu > button#fullScreen { background-image: url("/img/gamerModule/fullscreen.png"); }

div#production {
  width: 92%;
  overflow: hidden;
}

button#wizz {
  width: 30%;
  height: 8%;
  top: 80%;
  left: 35%;
  font-size: 1vw;
  float: none;
  display: none;
}

div#mosaic {
  width: 99%;
  overflow: hidden;
  color: black;
  background-color: darkgrey;
  overflow-y: auto;
}

div#mosaic > div {
  border-bottom: 2px solid black;
  display: flex;
}

div#mosaic > div > div {
  display: flex;
  background-color: white;
}

div#mosaic > div > :first-child {
  border-right: 2px solid black;
}

div#mosaic > div > div > svg {
  width: 90%;
  height: 100%;
}

div#mosaic > div > div > div {
  width: 10%;
  height: 100%;
  border-right: 2px solid black;
  background-color: lightgrey;
}

div#mosaic > div > div > div > div {
  height: 70%;
  width: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

div#mosaic > div > div > div > div > span {
  height: 100%;
  width: 100%;
  font-size: 1.5vw;
}
