@import 'verticalText.css';

#productionPanel {
  display: flex;
}

.productionHeader {
  height: 100%;
  padding: 0;
}
.productionBottom {
  display: none;
  padding: 0;
}

/* -------------------------------------------------------------------------- */
/* ---------------------------- CAST PANEL STYLE ---------------------------- */
/* -------------------------------------------------------------------------- */

.spectatorsList {
  width: 9%;
  height: 100%;
  border-right: 2px solid black;
  background: linear-gradient(to bottom, grey , #1B1919);
  display: none;
}
.spectatorsListContent {
  padding-top: 10%;
  padding-left: 0;
  padding-right: 5%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.spectatorsListBottom {
  height: 100%;
  background: linear-gradient(to top, grey , #1B1919);
  display: none;
}
.spectatorsListBottom > div {
  height: 55%;
}

.spectatorsListBottom input, .spectatorsListBottom button {
  height: 100%;
  padding: 0;
}
.spectatorsListBottom input {
  font-size: 1.2vw;
}

.spectatorsListContent .playerDisplayer {
  height: 22%;
  min-height: 22%;
  margin-left: 0;
  margin-bottom: 10%;
  border-width: 2px;
}
.spectatorsListContent .playerDisplayer > :first-child {
  border-width: 2px;
}
.spectatorsListContent .playerDisplayer > :last-child {
  padding: 0;
}
.spectatorsListContent .playerDisplayer span {
  font-size: 0.6vw !important;
}

.castedProdSpan {
  font-size: 1vw;
}
.spectatorsListBottom .castedProdSpan {
  font-size: 1.2vw;
}

/* -------------------------------------------------------------------------- */
/* --------------------- FOREIGN PRODUCTIONS ACCESS ------------------------- */
/* -------------------------------------------------------------------------- */

.productionsAccessBar {
  height: 100%;
  width: 9%;
}

.productionsAccessBarContent {
  width: 90%;
  border-right: 2px solid black;
  background: linear-gradient(to right, grey , #1B1919);
  display: block;
}
.productionsAccessBarDisplayer {
  width: 10%;
  border-right: 1px solid black;
  background-color: grey;
  background-image: url("/img/gamerModule/hide.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.myAccess, .myPrivacy {
  height: 8%;
  border-bottom: 2px solid black;
}

.myAccess div {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.myAccess > div > span {
  width: 100%;
  font-size: 0.8vw;
  font-weight: bold;
  color: black;
  text-align: center;
}

button#setPrivacy { background-image: url("/img/gamerModule/private.svg"); }
button#setPrivacy[value='public'] { background-color: green; }
button#setPrivacy[value='private'] { background-color: darkred; }
button#setPrivacy[value='limited'] { background-color: #E8900A; }

.prodSeparator {
  height: 10%;
  width: 100%;
  border-bottom: 2px solid black;
  background-color: grey;
  font-size: 0.7vw;
  font-weight: bold;
}

.prodSeparator p {
  margin: 0;
  padding: 0;
  color: black;
  font-size: 1vw;
  text-align: center;
}

.foreingProdAccess {
  height: 64%;
  border: none;
  overflow-y: auto;
}

.foreingProdAccess > div {
  height: 15%;
  min-height: 15%;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
  cursor: pointer;
}

.currentPlayer {
  background-color: #1269E6;
}

.nextPlayer {
  background-color: #0AA6E1;
}

.foreingProdAccess img {
  width: 30%;
  padding-bottom: 5%;
}

.foreingProdAccess span {
  width: 70%;
  font-size: 0.8vw;
  font-weight: bold;
  text-align: center;
  text-overflow: ellipsis;
  color: black;
}

div.selectedProduction > span {
  text-decoration: underline;
  text-decoration-style: double;
  text-decoration-color: black;
  font-style: italic;
}

button#questions {
  height: 10%;
  padding: 0;
  border-top: 2px solid black;
  font-size: 1vw;
  font-weight: bold;
  background-color: grey;
  color: black;
}

/* -------------------------------------------------------------------------- */
/* -------------------------- PLAYER PRODUCTION ----------------------------- */
/* -------------------------------------------------------------------------- */

.productionContainer {
  width: 91%;
  display: flex;
  justify-content: flex-start;
}

#wizz {
  width: 30%;
  height: 8%;
  top: 80%;
  left: 35%;
  font-size: 1vw;
  float: none;
  display: none;
}

#scene {
  height: 100%;
  width: 100%;
}

#castRequest {
  height: 20%;
  bottom: 0;
  right: 0;
  display: none;
}
#castOption {
  height: 40%;
  top: 30%;
  left: 40%;
  display: none;
}

.castAlertPanel {
  margin-bottom: 5px;
  margin-right: 5px;
  position: absolute;
  display: block;
  z-index: 10;
  background: white;
  box-shadow: 0px 0px 10px 2px inset;
}

.multiselect {
  font-size: 1vw;
}
