#questionContent {
  height: 100%;
  width: 100%;
  padding: 0;
  background-image: url('/img/gamerModule/questionBackground.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*display: none; /* <------- invisible */
}

#questionPanel {
  height: 100%;
  padding-left: 2%;
  padding-right: 2%;
}

#questionPanel > :nth-child(1) {
  height: 10%;
}

#questionPanel > :nth-child(2) {
  height: 75%;
  box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.9) inset;
  background-image: url('/img/gamerModule/deskBackground.jpeg');
}

#questionPanel > :nth-child(3) {
  height: 15%;
  margin-left: -2%;
  margin-right: -2%;
  display: flex;
  align-items:flex-end;
}

#questionPanel > :nth-child(1) > div {
  height: 80%;
  background-image: url('/img/gamerModule/crayon.png');
}

#questionPanel > :nth-child(1) > div > span {
  font-size: 3vw;
  font-weight: bold;
  font-family: fantasy sans-serif;
  color: black;
}

#questionPanel > :nth-child(2) > :first-child {
  height: 100%;
  padding-top: 2%;
  padding-bottom: 1%;
  padding-left: 6%;
  padding-right: 6%;
  overflow-y: scroll;
}

#questionPanel > :nth-child(2) > :last-child {
  position: absolute;
  height: 50%;
  border: 2px solid black;
  background-color: white;
  opacity: 0;
  visibility: hidden;

  -webkit-transition: opacity 3s ease-in;
  -moz-transition: opacity 3s ease-in;
  -o-transition: opacity 3s ease-in;
  -ms-transition: opacity 3s ease-in;
  transition: opacity 3s ease-in;
}

#questionPanel > :nth-child(3) > div {
  height: 80%;
  padding-left: 2%;
  padding-right: 2%;
  border-top: 2px solid black;
  background-image: url('/img/gamerModule/bois.jpg');
  background-origin: border-box;
}

#questionPanel > :nth-child(3) > div > input {
  height: 50%;
  border: 2px solid black;
}

#questionPanel > :nth-child(3) > div > :nth-child(2) {
  height: calc(100% - 20px);
  margin-top: 20px;
  background-image: url('/img/gamerModule/projector.png');
}

#questionPanel > :nth-child(3) > div > :nth-child(2) > button {
  height: 40%;
  padding: 0;
  top: 40%;
  position: absolute;
  background-image: url('/img/gamerModule/power_off.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#questionPanel > :nth-child(3) > div > :nth-child(3) {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#questionPanel > :nth-child(3) > div > :nth-child(3) > div {
  height: 40%;
}

#questionPanel > :nth-child(3) > div > :nth-child(3) > div > button {
  height: 100%;
  border: 2px solid black;
  background-color: white;
}

#questionPanel > :nth-child(3) > div > :nth-child(3) > :last-child {
  border: 2px solid black;
  background-color: white;
}

#questionPanel > :nth-child(3) > div > :nth-child(3) > div > span {
  text-align: center;
}

/* Question displayer style */

.questionsDisplayer {
  height: 30%;
  margin-bottom: 2%;
}

.questionsDisplayer > :nth-child(2n) {
  height: 100%;
}

.questionsDisplayer > :nth-child(2n) > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.questionsDisplayer > :nth-child(2n) > div > div {
  height: 40%;
}

/* Text style in the bubbles */
/*
.questionsDisplayer > :nth-child(2) > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
*/
.questionsDisplayer > :nth-child(2) > div > div > span {
  font-size: 1.2vw;
  font-family: fantasy sans-serif;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  max-height: inherit;
  line-height: 1.2vw;
  text-align: center;
}

/* Question bubble */

.oval-thought-left, .oval-thought-right {
  -webkit-border-radius:90px;
  -moz-border-radius:0px;
  border-radius: 90px;
  background: #046380;
}

/* creates the larger circle */
.oval-thought-left:before,
.oval-thought-right:before {
  content:"";
  position:absolute;
  width:30px;
  height:30px;
  background:#046380;
  /* css3 */
  -webkit-border-radius:30px;
  -moz-border-radius:30px;
  border-radius:30px;
}

.oval-thought-left:before {
  bottom:-35px;
  left:20px;
}

.oval-thought-right:before {
  top:-35px;
  right:20px;
}

/* creates the smaller circle */
.oval-thought-left:after,
.oval-thought-right:after {
  content:"";
  position:absolute;
  width:15px;
  height:15px;
  background:#046380;
  /* css3 */
  -webkit-border-radius:15px;
  -moz-border-radius:15px;
  border-radius:15px;
}

.oval-thought-left:after {
  bottom:-45px;
  left:0px;
}

.oval-thought-right:after {
  top:-45px;
  right:0px;
}
