#selectCardPanel {
  display: none;
}

div#selectCardPanel .gamePanelHeader {
  height: 30%;
}

div#selectCardPanel .gamePanelBody {
  height: 50%;
}
div#selectCardPanel .gamePanelBody > div {
  height: 100%;
}

.familyDisplayer {
  height: 90%;
}
.familyDisplayer > :first-child {
  height: 70%;
}
.familyDisplayer > :last-child {
  height: 25%;
}
