body, html {
  height: 100%;
  width: 100%;
}

body {
  padding: 5px;
}

/* police parameters */
.fieldLabel {
  font-size: 24px;
  font-weight: bold;
  font-family: fantasy;
  padding: 0;
}

button {
  border: none;
  background-color: Transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

div#content {
  height: 100%;
  width: 100%;
  padding: 0;
}

div#game {
  height: 100%;
}

div#gamePanel  {
  height: 100%;
  padding: 0;
  border: 2px solid black;
}

div#playerInfos {
  height: 5%;
  margin: 0;
  border-bottom: 2px solid black;
}

div#pseudoLabel {
  height: 100%;
  margin: 0;
  padding: 0;
  border-right: 2px solid black;
  background-image: url('/img/gamerModule/player.svg');
  background-size: cover;
  background-origin:  content-box;
  background-repeat: no-repeat;
  background-position: center;
}

div#pseudoDisplay {
  height: 100%;
  margin: 0;
  padding: 0;
}

div#questionLabel {
  height: 100%;
  margin: 0;
  padding: 0;
  border-left: 2px solid black;
  border-right: 2px solid black;
  background-image: url('/img/gamerModule/question.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

div#questionDisplay {
  height: 100%;
  margin: 0;
  padding: 0;
}

div#playerProduction {
  height: 70%;
  margin: 0;
  border-bottom: 2px solid black;
}

div#productionList {
  height: 100%;
  padding: 0;
  border-right: 2px solid black;
  background-color: lightgrey;
  display: block;
}

div#myProduction {
  height: 5%;
  border-bottom: 2px solid black;
  background-color: grey;
}

button#myOwn {
  height: 100%;
  padding: 0;
  color: black;
  font-size: 0.9vw;
  font-weight: bold;
}

div#option {
  height: 5%;
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
}

button#privacy {
  height: 100%;
  padding: 0;
  background-image: url("/img/gamerModule/private.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

div#playersProduction {
  height: 10%;
  border-bottom: 2px solid black;
  background-color: grey;
  align-items: center;
  display: flex;
  justify-content: center;
}

p#playersProductionLabel {
  margin: 0;
  padding: 0;
  text-align: center;
  color: black;
  font-size: 0.9vw;
  font-weight: bold;
}

div#productionArea {
  height: 100%;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

button#displayList {
  height: 100%;
  width: 1%;
  padding: 0;
  border-right: 1px solid black;
  background-color: grey;
  background-image: url("/img/gamerModule/hide.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

div#svgMenu {
  height: 100%;
  width: 7%;
  padding-right: 0;
  padding-left: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  border-right: 2px solid black;
  background-color: lightgrey;
}

button#bouton {
  height: 10%;
  padding: 0;
  background-image: url("/img/gamerModule/text.png");
}

svg#production {
  height: 100%;
  width: 92%;
}

div#chatInfos {
  height: 25%;
  padding: 0;
}

div#chat {
  height: 100%;
  padding: 0;
  border-right: 2px solid black;
}

div#dialogBox {
  height: 88%;
  padding: 0;
  border-bottom: 2px solid black;
}

div#messages {
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
}

div#inputBox {
  height: 12%;
  padding: 0;
}

input#inputField {
  height: 100%;
  border: none;
  padding-left: 5px;
  padding-right: 5px;
}

button#sendButton {
  height: 100%;
  padding: 0;
  border-left: 2px solid black;
  background-image: url("/img/gamerModule/sendButton.svg");
  background-size: cover;
}

div#infos {
  height: 100%;
  padding: 0;
}

div#notes{
  height: 100%;
}

textarea#notesArea {
  height: 100%;
  resize: none;
}

div#menu {
  height: 100%;
  padding: 0;
  border-left: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

button.notesTool {
  height: 20%;
  width: 100%;
  margin-bottom: 20%;
}

button#copy {
  margin-top: 10%;
  background-image: url("/img/gamerModule/copyText.png");
}

button#clear {
  background-image: url("/img/gamerModule/clearText.png");
}

button#undo {
  background-image: url("/img/gamerModule/undo.png");
}
