div.SWA_Menu button {
  height: 10%;
  padding: 0;
  border: none;
  background-color: Transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
div.SWA_Menu button:focus {
  outline: 0;
}

div.SWA_Colors {
  display: none;
  background-color: grey;
}

div.SWA_Colors > button[value="red"] { background-image: url("/img/gamerModule/red.jpg"); }
div.SWA_Colors > button[value="green"] { background-image: url("/img/gamerModule/green.jpg"); }
div.SWA_Colors > button[value="yellow"] { background-image: url("/img/gamerModule/yellow.jpg"); }
div.SWA_Colors > button[value="blue"] { background-image: url("/img/gamerModule/blue.jpg"); }
div.SWA_Colors > button[value="white"] { background-image: url("/img/gamerModule/white.jpg"); }
div.SWA_Colors > button[value="purple"] { background-image: url("/img/gamerModule/purple.jpg"); }
div.SWA_Colors > button[value="brown"] { background-image: url("/img/gamerModule/brown.jpg"); }

div.SWA_Tools {
  height: 100%;
  display: block;
}
div.SWA_Tools > :first-child {
  height: 85%;
  overflow-y: auto;
  overflow-x: hidden;
}
div.SWA_Tools > :last-child {
  height: 15%;
}
div.SWA_Tools button {
  margin-bottom: 30%;
  display: none;
}

button[name="createRect"][value="red"] { background-image: url("/img/gamerModule/textIcons/text_red.png");}
button[name="createRect"][value="green"] { background-image: url("/img/gamerModule/textIcons/text_green.png");}
button[name="createRect"][value="yellow"] { background-image: url("/img/gamerModule/textIcons/text_yellow.png");}
button[name="createRect"][value="purple"] { background-image: url("/img/gamerModule/textIcons/text_purple.png");}
button[name="createRect"][value="brown"] { background-image: url("/img/gamerModule/textIcons/text_brown.png");}
button[name="createRect"][value="blue"] { background-image: url("/img/gamerModule/textIcons/text_blue.png");}
button[name="createRect"][value="white"] { background-image: url("/img/gamerModule/textIcons/text_white.png");}

button[name="createRect"][value="red"]:focus { background-image: url("/img/gamerModule/textIcons/textFocus_red.png");}
button[name="createRect"][value="green"]:focus { background-image: url("/img/gamerModule/textIcons/textFocus_green.png");}
button[name="createRect"][value="yellow"]:focus { background-image: url("/img/gamerModule/textIcons/textFocus_yellow.png");}
button[name="createRect"][value="purple"]:focus { background-image: url("/img/gamerModule/textIcons/textFocus_purple.png");}
button[name="createRect"][value="brown"]:focus { background-image: url("/img/gamerModule/textIcons/textFocus_brown.png");}
button[name="createRect"][value="blue"]:focus { background-image: url("/img/gamerModule/textIcons/textFocus_blue.png");}
button[name="createRect"][value="white"]:focus { background-image: url("/img/gamerModule/textIcons/textFocus_white.png");}

div.SWA_Tools button[name="color"][value="red"] { background-image: url("/img/gamerModule/redPencil.png"); }
div.SWA_Tools button[name="color"][value="green"] { background-image: url("/img/gamerModule/greenPencil.png"); }
div.SWA_Tools button[name="color"][value="yellow"] { background-image: url("/img/gamerModule/yellowPencil.png"); }
div.SWA_Tools button[name="color"][value="blue"] { background-image: url("/img/gamerModule/bluePencil.png"); }
div.SWA_Tools button[name="color"][value="white"] { background-image: url("/img/gamerModule/whitePencil.png"); }
div.SWA_Tools button[name="color"][value="purple"] { background-image: url("/img/gamerModule/purplePencil.png"); }
div.SWA_Tools button[name="color"][value="brown"] { background-image: url("/img/gamerModule/brownPencil.png"); }

div.SWA_Tools button[name="legend"][value="visible"] { background-image: url("/img/gamerModule/legende-.png"); }
div.SWA_Tools button[name="legend"][value="hide"] { background-image: url("/img/gamerModule/legende+.png"); }

div.SWA_Tools button[name="moveElement"] { background-image: url("/img/gamerModule/move.png"); }
div.SWA_Tools button[name="fullScreen"] { background-image: url("/img/gamerModule/fullscreen.png"); }
div.SWA_Tools button[name="centerSVG"] { background-image: url("/img/gamerModule/Centrer2.png"); }
div.SWA_Tools button[name="centerSVG"]:hover { background-image: url("/img/gamerModule/Centrer3.png"); }
div.SWA_Tools button[name="cast"] { background-image: url("/img/gamerModule/cast2.png"); }
div.SWA_Tools button[name="cast"]:hover { background-image: url("/img/gamerModule/cast.png"); }

div.SWA_Tools label.SWA_ZoomIndicator {
  height: 70%;
  padding: 0;
  text-align: center;
  font-size: 0.8vw;
  font-family: "Georgia", "Helvetica", "Times New Roman", sans-serif;
}
