div.menu {
  width: 7%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-right: 2px solid black;
  background: linear-gradient(to left, grey , #1B1919);
}

div.menu button {
  height: 10%;
  padding: 0;
}
div.menu button:focus {
  outline: 0;
}

div#colorMenu {
  display: none;
  background-color: grey;
}

div#colorMenu > button[value="red"] { background-image: url("/img/gamerModule/red.jpg"); }
div#colorMenu > button[value="green"] { background-image: url("/img/gamerModule/green.jpg"); }
div#colorMenu > button[value="yellow"] { background-image: url("/img/gamerModule/yellow.jpg"); }
div#colorMenu > button[value="blue"] { background-image: url("/img/gamerModule/blue.jpg"); }
div#colorMenu > button[value="white"] { background-image: url("/img/gamerModule/white.jpg"); }
div#colorMenu > button[value="purple"] { background-image: url("/img/gamerModule/purple.jpg"); }
div#colorMenu > button[value="brown"] { background-image: url("/img/gamerModule/brown.jpg"); }

div#svgMenu {
  height: 100%;
  display: block;
}
div#svgMenu > :first-child {
  height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
}
div#svgMenu > :last-child {
  height: 10%;
}
div#svgMenu button {
  margin-bottom: 15px;
}

button#bouton[value="red"] { background-image: url("/img/gamerModule/textIcons/text_red.png");}
button#bouton[value="green"] { background-image: url("/img/gamerModule/textIcons/text_green.png");}
button#bouton[value="yellow"] { background-image: url("/img/gamerModule/textIcons/text_yellow.png");}
button#bouton[value="purple"] { background-image: url("/img/gamerModule/textIcons/text_purple.png");}
button#bouton[value="brown"] { background-image: url("/img/gamerModule/textIcons/text_brown.png");}
button#bouton[value="blue"] { background-image: url("/img/gamerModule/textIcons/text_blue.png");}
button#bouton[value="white"] { background-image: url("/img/gamerModule/textIcons/text_white.png");}

button#bouton[value="red"]:focus { background-image: url("/img/gamerModule/textIcons/textFocus_red.png");}
button#bouton[value="green"]:focus { background-image: url("/img/gamerModule/textIcons/textFocus_green.png");}
button#bouton[value="yellow"]:focus { background-image: url("/img/gamerModule/textIcons/textFocus_yellow.png");}
button#bouton[value="purple"]:focus { background-image: url("/img/gamerModule/textIcons/textFocus_purple.png");}
button#bouton[value="brown"]:focus { background-image: url("/img/gamerModule/textIcons/textFocus_brown.png");}
button#bouton[value="blue"]:focus { background-image: url("/img/gamerModule/textIcons/textFocus_blue.png");}
button#bouton[value="white"]:focus { background-image: url("/img/gamerModule/textIcons/textFocus_white.png");}

div#svgMenu button#color[value="red"] { background-image: url("/img/gamerModule/redPencil.png"); }
div#svgMenu button#color[value="green"] { background-image: url("/img/gamerModule/greenPencil.png"); }
div#svgMenu button#color[value="yellow"] { background-image: url("/img/gamerModule/yellowPencil.png"); }
div#svgMenu button#color[value="blue"] { background-image: url("/img/gamerModule/bluePencil.png"); }
div#svgMenu button#color[value="white"] { background-image: url("/img/gamerModule/whitePencil.png"); }
div#svgMenu button#color[value="purple"] { background-image: url("/img/gamerModule/purplePencil.png"); }
div#svgMenu button#color[value="brown"] { background-image: url("/img/gamerModule/brownPencil.png"); }

div#svgMenu button#legend[value="visible"] { background-image: url("/img/gamerModule/legende-.png"); }
div#svgMenu button#legend[value="hide"] { background-image: url("/img/gamerModule/legende+.png"); }

div#svgMenu button#moveElement { background-image: url("/img/gamerModule/move.png"); }
div#svgMenu button#fullScreen { background-image: url("/img/gamerModule/fullscreen.png"); }
div#svgMenu button#centerSVG { background-image: url("/img/gamerModule/Centrer2.png"); }

div#svgMenu label#zoomLevel {
  height: 70%;
  padding: 0;
  text-align: center;
  font-size: 0.8vw;
  font-family: "Georgia", "Helvetica", "Times New Roman", sans-serif;
}
