<!DOCTYPE html>
<html>
  <meta charset="utf-8">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/scrollBarStyle.css" rel="stylesheet">
  <link href="/css/connection/connectionStyle.css" rel="stylesheet">
</html>
<body>
  <div id="form_wrapper" class="form_wrapper">
    <form class="register">
      <h3>Register</h3>
      <div>
        <label>Username:<span class="error_username"></span></label>
        <input type="text" name="username" pattern="^[A-Za-z0-9]{4,}$" required>
      </div>
      <div>
        <label>Email:<span class="error_email"></span></label>
        <input type="email" name="email" required>
      </div>
      <div>
        <label>Password:<span class="error_password"></span></label>
        <input type="password" name="password" pattern="^[A-Za-z0-9]{8,}$" required>
      </div>
      <div class="bottom">
        <div class="remember">
          <input type="checkbox"><span>Send me updates</span>
        </div>
        <input type="submit" value="Register"><a href="connection" rel="login" class="linkform">You have an account already? Log in here</a>
        <div class="clear"></div>
      </div>
    </form>
    <form class="login active">
      <h3>Login</h3>
      <div>
        <label>Username:<span class="error_login"> </span></label>
        <input type="text" name="username" required>
      </div>
      <div>
        <label>Password: <a href="forgot_password.html" rel="forgot_password" class="forgot linkform">Forgot your password?</a></label>
        <input type="password" name="password" required>
      </div>
      <div class="bottom">
        <div class="remember">
          <input type="checkbox"><span>Keep me logged in</span>
        </div>
        <input type="submit" value="Login"><a href="connection" rel="register" class="linkform">You don't have an account yet? Register here</a>
        <div class="clear"></div>
      </div>
    </form>
    <form class="forgot_password">
      <h3>Forgot Password</h3>
      <div>
        <label>Username or Email:</label>
        <input type="text" name="email">
      </div>
      <div class="bottom">
        <input type="submit" value="Send reminder"><a href="connection" rel="login" class="linkform">Suddenly remebered? Log in here</a><a href="connection" rel="register" class="linkform">You don't have an account? Register here</a>
        <div class="clear"></div>
      </div>
    </form>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/bower/js-md5/src/md5.js"></script>
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="/js/connection/pageManager.js"></script>
    <script src="/js/connection/formProcess.js"></script>
  </div>
</body>